<div id="footer">
    <ul>
        <li><a href="/about">关于我们</a></li>
        <li><a href="/about">联系方式</a></li>
        <li><a href="#">Copyright © 2012 上海西象教育科技有限公司. All Rights Reserved.</a></li>
        <li><a href="#" target="_blank">沪ICP备14011776号</a></li>
		<li><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000212769'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000212769%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8c5ab9db20d2b9f74d27969bed8e1a0d' type='text/javascript'%3E%3C/script%3E"));</script></li>
    </ul>
</div>
<div class="cover">
    <div class="cover-content">
        <img src="/images/cover-c.png" alt=""/>

        <div class="cover-close"></div>
    </div>
</div>

<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/javascripts/main.js"></script>