<head>
    <title><%= title %> | 西象教育</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
	<script>
    var _czc = _czc || [];
   _czc.push(["_setAccount", "1000212769"]);
    </script>
</head>