<div id="header">
    <div class="wrapper">
        <div class="inner index-logo">
            <a href="/"><img src="/images/logo.png"/></a>
            <ul class="index-nav">
                <li><a href="/teachers">师资力量</a></li>
                <li><a href="/students">西象学员</a></li>
                <li><a href="/mode">教学模式</a></li>
                <li><a href="/reason">选择理由</a></li>
                <li>|</li>
                <li>咨询电话：400-689-0611<br/><span>021-68900157</span></li>
            </ul>
        </div>
    </div>
</div>