<div id="wrapper">
    <div id="banner">
        <img alt="寒托班火热报名中" src="/images/banner.jpg" />
    </div>

    <div class="main">

        <img class="table-pic" src="/images/table_pic.png" />
        <h2>寒托班流程</h2>
        <div class="content-right">
		<dl>
		<dd>1、老师督导学生，集中完成寒假学校布置的家庭作业；</dd>
		<dd>2、检查、监督学生的作业完成情况，对完成的作业进行批改指正；</dd>
		<dd>3、对学习遇到的问题进行辅导、解答疑问；</dd>
		<dd>4、陪学生听当日的英语教材、课内外阅读，并进行辅导；</dd>
		<dd>5、纠正不良习惯、提升学生的专注力和创造力，培养良好的独立思考和自主学习能力；</dd>
		<dd>6、对及时、很好地完成功课的学生，适时安排他们进行趣味、益智游戏等活动；</dd>
		
		</dl>
		 <table rules="all" frame="box" cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <th>时间</th>
                    <th>星期一</th>
                    <th>星期二</th>
                    <th>星期三</th>
                    <th>星期四</th>
                    <th>星期五</th>
                </tr>
                <tr>
                    <td align="center">08:30-09:00</td>
                    <td colspan="5">入学，热身活动</td>
                </tr>
                <tr>
                    <td align="center">09:00<br>-10:00</td>
                    <td colspan="5">假期作业</td>
                </tr>
                <tr>
                    <td align="center">10:10-11:00</td>
                    <td>课外阅读</td>
					<td>英语阅读</td>
					<td>课外阅读</td>
					<td>英语阅读</td>
					<td>硬笔书法</td>
                </tr>
                <tr>
                    <td align="center">11:10-11:40</td>
                    <td>思维训练</td>
					<td>写作启发</td>
					<td>诗歌朗诵</td>
					<td>思维训练</td>
					<td>写作启发</td>
                </tr>
                <tr>
                    <td align="center">11:40-12:10</td>
                    <td colspan="5">营养午餐</td>
                </tr>
                <tr>
                    <td align="center">12:10-13:30</td>
                    <td colspan="5">午休</td>
                </tr>
				<tr>
                    <td align="center">13:30-15:30</td>
                    <td>英语看听说</td>
					<td>智力游戏</td>
					<td>绘画</td>
					<td>智力游戏</td>
					<td>动画欣赏</td>
                </tr>
				<tr>
                    <td align="center">15:00-16:00</td>
                    <td>手工制作</td>
					<td>成语沙龙</td>
					<td>音乐活动</td>
					<td>音乐活动</td>
					<td>学与思</td>
                </tr>
					<tr>
                    <td align="center">16:00-17:00</td>
                    <td>棋艺</td>
					<td>绘画</td>
					<td>手工</td>
					<td>绘画</td>
					<td>棋艺</td>
                </tr>
				<tr>
                    <td align="center">17:00-18:00</td>
                    <td colspan="5">离校</td>
                </tr>
            </table>
           
            <dl>
                <h2>招生对象：</h2>
                <dd>小学1-5年级</dd>
                <h2>上课时间：</h2>
                <dd>1月21日-2月3日</dd>
				<dd>如需参加乐高、羽毛球等兴趣课程需另外收费，详情可电话咨询。名额有限，欲报从速！</dd>
            </dl>
        </div>
    </div><!-- main结束 -->


</div>