<style type="text/css">
	
.summer-content {
    width: 1000px;
    height: 1401px;
    position: relative;
    background-image: url(/images/summer-images/summerBG.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
}

.shutuo-time {
    width: 780px;
    height: 80px;
    position: absolute;
    top: 410px;
    left: 206px
}
.left-logo {
    width: 220px;
    height: 70px;
    position: absolute;
    top: 28px;
    left: 34px;
}

.summer-pic {
    width: 936px;
    height: 506px;
    position: absolute;
    top: 560px;
    left: 52px;
}

.summer-picture {
    width: 270px;
    height: 190px;
    position: absolute;
}



.summer-schedule {
    width: 800px;
    height: 234px;
    position: absolute;
    top: 1068px;
    left: 42px;
    font-size: 14px;
}

.schedule-L {
    width: 158px;
    height: auto;
    float: left;
}

.pic-1 {
    top: 13px;
    left: 15px;
}

.pic-2 {
    left: 333px;
    top: 28px;
}

.pic-3 {
    left: 673px;
}

.pic-4 {
    top: 270px;
}

.pic-5 {
    top: 280px;
    left: 325px;
}

.pic-6 {
    left: 660px;
    top: 280px;
}

.text-one {
    width: 460px;
    color: #00087f;
    position: absolute;
    top: 218px;
    font-size: 14px;
    font-weight: 700
}

.bluetext {
    color: #2193c6;
    font-size: 15px;
    font-weight: 900
}

.text-two {
    width: 460px;
    color: #00087f;
    position: absolute;
    top: 195px;
    left: 500px;
    font-size: 14px;
    font-weight: 700
}
.text-two .bluetext {
    position: absolute;
    left: 200px;
}
.text-three {
    color: #00087f;
    position: absolute;
    top: 470px;
    font-size: 14px;
    font-weight: 700
}


th, td {
    width: 95px;
    height: 30px;
    text-align: center;
    border-right: 1px #b05089 solid;
    border-bottom: 1px #b05089 solid;
    border-collapse:collapse;
}

table {
    border: 1px #b05089 solid;
    border-radius: 30px;
    background-color: rgba(195,122,165,0.1);
    overflow: hidden;
    border-collapse:collapse;
}

.schedule {
    float: left;
    width: 570px;
    border: 1px #b05089 solid;
    border-radius: 30px;
}

.bottom pre {
    display: inline-block;
    position: absolute;
    bottom: -10px;
    width: 800px;
    font-size: 18px;
    color: #c9e1ec;
	border: 0;
	background-color: rgba(0,0,0,0)
}

.bottom {
    width: 960px;
    height: 110px;
    position: absolute;
    top: 1275px;
    left: 42px;
}

.erweima {
    float: right;
	position: absolute;
	right: 10px;
}

</style>
	 <!--#start content-->
    <div class="summer-content">
         <!-- logo -->
         <a class="left-logo" href="#">
             <img src="/images/summer-images/logo.jpg" alt="西象教育">
         </a>
        <!-- time -->
        <div class="shutuo-time">
            <img src="/images/summer-images/shutuo-time.png">
        </div>
        <!-- picture -->
        <div class="summer-pic">
            <a class="summer-picture pic-1" href="#1">
                <img src="/images/summer-images/pic1.png">
            </a>
            <a class="summer-picture pic-2" href="#2">
                <img src="/images/summer-images/pic2.png">
            </a>
            <a class="summer-picture pic-3" href="#3">
                <img src="/images/summer-images/pic3.png">
            </a>
            <a class="summer-picture pic-4" href="#4">
                <img src="/images/summer-images/pic4.png">
            </a>
            <a class="summer-picture pic-5" href="#5">
                <img src="/images/summer-images/pic5.png">
            </a>
            <a class="summer-picture pic-6" href="#6">
                <img src="/images/summer-images/pic6.png">
            </a>
            <div class="text-one">
                <span class="bluetext">暑假作业+课程辅导</span>&nbsp;暑假作业+课程辅导&nbsp;全程作业跟踪辅导及习惯养成，当天点评。专门为暑托班定制的暑假课程，提高学习能力。
            </div>
  
            <div class="text-two">
                <span class="bluetext">兴趣爱好班一站式服务</span>
                </br>
                我们和名校、机构之间沟通合作，暑托班开设了硬笔书法、手工、美术、
                游泳、跆拳道、象棋、钢琴等，聘请名师教学。让您的孩子学习娱乐两不误！
            </div>
            <div class="text-three">
                <span class="bluetext">两日出游日</span>&nbsp;我们以自然景区（公园、农场、果园）和学习基地（博物馆、展览馆、科技馆）为主，让每个学生过一个充实有意义的暑假。
            </div>
        </div>
        <!--#start schedule -->
        <div class="summer-schedule">
            <div class="schedule-L">
                <img src="/images/summer-images/kechengbiao.png">
                <img src="/images/summer-images/kechengxia.png">
            </div>
            
            <div class="schedule">
                <table>
                    <tr>
                        <th><img src="/images/summer-images/butterfly.png"></th>
                        <th>周一</th>
                        <th>周二</th>
                        <th>周三</th>
                        <th>周四</th>
                        <th>周五</th>
                    </tr>
                    <tr>
                        <td>8:30-9:00</td>
                        <td>早课</td>
                        <td>早课</td>
                        <td>早课</td>
                        <td>早课</td>
                        <td>早课</td>
                    </tr>
                     <tr>
                        <td>9:00-10:00</td>
                        <td>阅读+写作</td>
                        <td>美文赏析</td>
                        <td>阅读+写作</td>
                         <td>美文赏析</td>
                         <td>阅读+写作</td>
                    </tr>
                    <tr>
                        <td>10:30-11:50</td>
                        <td>英语</td>
                        <td>数学</td>
                        <td>英语</td>
                        <td>数学</td>
                        <td>英语</td>
                    </tr>
                    <tr>
                        <td>11:50-13:00</td>
                        <td>午饭</td>
                        <td>午饭</td>
                        <td>午饭</td>
                        <td>午饭</td>
                        <td>午饭</td>
                    </tr>
                     <tr>
                        <td>13:00-14:00</td>
                        <td>书法</td>
                        <td>手工</td>
                        <td>游戏或体育</td>
                        <td>书法</td>
                        <td>兴趣课</td>
                    </tr>
                    <tr>
                        <td>14:00-15:00</td>
                        <td>自修+作业</td>
                        <td>自修+作业</td>
                        <td>自修+作业</td>
                         <td>自修+作业</td>
                         <td>自修+作业</td>
                    </tr>
                </table>
            </div>
        </div>
     <!--#end schedule -->
    
    <!-- bottom -->
    <div class="bottom">
        <pre>具体详请致电:68900157    地 址：塘桥路400弄2号楼1602室     网址：www.seung.cn</pre>
         <img src="/images/summer-images/erweima.png"  class="erweima">
    </div>
	</div>
    <!--#end content-->
    

