<div id="wrapper">
    <div id="banner">
        <img alt="寒托班火热报名中" src="/images/banner.jpg" />
    </div>

    <div class="main">

        <img class="table-pic" src="/images/table_pic.png" />
        <h2>课程安排</h2>
        <div class="content-right">
            <table rules="all" frame="box" cellpadding="0" cellspacing="0" align="center">
                <tr>
                    <th>时间</th>
                    <th>星期一</th>
                    <th>星期二</th>
                    <th>星期三</th>
                    <th>星期四</th>
                    <th>星期五</th>
                </tr>
                <tr>
                    <td align="center">08:00<br>-09:00</td>
                    <td colspan="5">学员报到、快乐早读（激情英语、朗诵美文）</td>
                </tr>
                <tr>
                    <td align="center">09:10<br>-11:30</td>
                    <td colspan="5">快乐寒假作业+语、数、英复习、预习<br>（有专职人员辅导）</td>
                </tr>
                <tr>
                    <td align="center">11:40<br>-13:40</td>
                    <td colspan="5">美味午餐、甜甜休息</td>
                </tr>
                <tr>
                    <td align="center">13:50<br>-14:50</td>
                    <td colspan="5">语数英拓展，复习上学期知识点，预习下学期知识点</td>
                </tr>
                <tr>
                    <td align="center">15:00<br>-16:30</td>
                    <td colspan="5">快乐读书吧，口算、快乐英语、才艺展示</td>
                </tr>
                <tr>
                    <td align="center">16:40<br>-17:00</td>
                    <td colspan="5">棋牌、精典动画片欣赏，手工制作等益智游戏，放学</td>
                </tr>
            </table>
            <dl>
                <dt>招生对象：</dt>
                <dd>小学1-5年级</dd>
                <dt>上课时间：</dt>
                <dd>2月2日-2月13日</dd>
            </dl>
        </div>
    </div><!-- main结束 -->


</div>