<div class="all-courses-net-main-one net-main-same">
    <div class="all-courses-net-main-one-pic">
        <div class="all-courses-net-main-one-pic-box">
            <img src="/images/all-courses-net/rabbit-one.jpg">

            <p>家庭作业有题目不会做<br>上课有个知识点没弄懂</p>
        </div>
        <div class="all-courses-net-main-one-pic-box">
            <img src="/images/all-courses-net/rabbit-two.jpg">

            <p>听说百度一下你就知道<br>结果它也不知道</p>
        </div>
        <div class="all-courses-net-main-one-pic-box pic-box-three">
            <img src="/images/all-courses-net/rabbit-three.jpg">

            <p>要是有个私人教师该多好<br>随叫随到，有问必答</p>
        </div>
        <div class="all-courses-net-main-one-pic-box">
            <img src="/images/all-courses-net/rabbit-four.jpg">

            <p>亲，现在淘宝上有私人<br>家教，和面对面一样</p>
        </div>
        <div class="all-courses-net-main-one-pic-box">
            <img src="/images/all-courses-net/rabbit-five.jpg">

            <p>40元一小时，在线辅导<br>学习满意再付款呢</p>
        </div>
        <div class="all-courses-net-main-one-pic-box pic-box-three">
            <img src="/images/all-courses-net/rabbit-six.jpg">

            <p>从此以后，天下没有<br>难做的作业！！！</p>
        </div>
        <h6><a href="http://seungnet.taobao.com/" target="_blank">点击进入淘宝</a></h6>
    </div>

</div>


<div class="all-courses-net-main-two net-main-same">
    <h4 class="title-one">什么是网上授课？</h4>

    <p>网上授课是利用网上授课软件，师生异地进行语音、视频、文字、电子板书等形式的交流，如同面对面家教，师生交流零距离，无时间，空间的限制，让您的家教成为一种享受。</p>
    <h4 class="title-two">网上授课软件特点及优势？</h4>

    <p>
        具有一对一及一对多会议交互功能，师生之间可以展开一对一或一对多家教活动。具有即时通讯、音视频交互、文件传输、电子排版互动、屏幕广播、文件共享、文档协同讨论等功能。
        使用方便、操作简单。师生双方只需利用普通的电脑、标准的视频设备就可以像使用聊天工具一样简单开展远程家教活动。
        足不出户、安全便捷。您在家里就可以和远在千里之外的名师沟通，您足不出户就可以请到优秀的老师进行网上面对面辅导，
        节省了您的时间。节约了您的路费，保证了孩子的安全。网络家教软件采用动态数据加密技术，保证语音、视频或其他数据在传输过程中的安全。</p>
</div>


<h4>在线课堂</h4>
<div class="all-courses-net-main-three net-main-same">
    <img class="online-pic" src="/images/all-courses-net/online-pic.jpg"/>

    <div class="video-block">
        <embed wmode="opaque" width="700" height="569"
               src="http://cloud.video.taobao.com/play/u/11395464/p/2/e/1/t/3/11636924.swf#tb_videoid=3173187"
               type="application/x-shockwave-flash" flashvars="scene=taobao_shop" allowscriptaccess="never">
    </div>

    <img src="/images/all-courses-net/process-pic.jpg"/>
</div>


<div class="all-courses-net-main-four net-main-same">
    <h4>常见问题</h4>
    <ul>
        <li class="orange">如果想取消预约的课怎么办？取消课会扣费么？</li>
        <li class="green">
            当然可以取消已预约的课，不过您需要提前4小时以上通知我们这个取消情况。在您预约的上课时间之前4个小时您通知我们取消，作为正常取消，不会扣钱，如果您不能提前4小时通知我们课程的取消，我会记录为异常取消，累计3次异常取消，将会抵扣一次的费用。由于需要安排日程，请尽量不要临时取消课程。
        </li>
        <li class="orange">如果音质效果差怎么办？</li>
        <li class="green">如果上课后5分钟发现音质效果不理想，不要勉强上课，请立即向老师提出，并及时停止上课不计费。</li>
        <li class="orange">辅导质量怎么样啊？</li>
        <li class="green">西象教育成立于2008年，是一家专业从事中小学学习能力辅导与培养的机构，我们的教师团队坚持以结果为导向，始终以学生成绩说话，所以95%的学生成绩都能提高，大家可以看看网站上的成绩进步榜。</li>
        <li class="orange">会达到实体家教的效果吗？</li>
        <li class="green">通过远程教育系统，双方能够通过电脑面对面的交流，而且我写的你看得到，打开电脑就学习，学习时间又自由，和实体家教其实是差不多的。</li>
    </ul>
</div>


<h4>在线课堂</h4>
<div class="all-courses-net-main-five net-main-same">
    <a href="http://seungnet.taobao.com/" target="_blank">
        <div class="item">
            <div class="tab"></div>
            <img src="/images/all-courses-net/img-3.jpg" alt=""/>

            <p>
                小学英语
                <span>￥40</span>
            </p>
        </div>
    </a>
    <a href="http://seungnet.taobao.com/" target="_blank">
        <div class="item">
            <div class="tab"></div>
            <img src="/images/all-courses-net/img-2.jpg" alt=""/>

            <p>
                小学数学
                <span>￥40</span>
            </p>
        </div>
    </a>
    <a href="http://seungnet.taobao.com/" target="_blank">
        <div class="item">
            <div class="tab"></div>
            <img src="/images/all-courses-net/img-3.jpg" alt=""/>

            <p>
                新概念英语
                <span>￥40</span>
            </p>
        </div>
    </a>
    <a href="http://seungnet.taobao.com/" target="_blank">
        <div class="item">
            <div class="tab"></div>
            <img src="/images/all-courses-net/img-1.jpg" alt=""/>

            <p>
                初中英语
                <span>￥50</span>
            </p>
        </div>
    </a>
    <a href="http://seungnet.taobao.com/" target="_blank">
        <div class="item">
            <div class="tab"></div>
            <img src="/images/all-courses-net/img-2.jpg" alt=""/>

            <p>
                初中数学
                <span>￥50</span>
            </p>
        </div>
    </a>
    <a href="http://seungnet.taobao.com/" target="_blank">
        <div class="item">
            <div class="tab"></div>
            <img src="/images/all-courses-net/img-1.jpg" alt=""/>

            <p>
                初中物理
                <span>￥50</span>
            </p>
        </div>
    </a>
    <a href="http://seungnet.taobao.com/" target="_blank">
        <div class="item">
            <div class="tab"></div>
            <img src="/images/all-courses-net/img-1.jpg" alt=""/>

            <p>
                高中化学
                <span>￥60</span>
            </p>
        </div>
    </a>
    <a href="http://seungnet.taobao.com/" target="_blank">
        <div class="item">
            <div class="tab"></div>
            <img src="/images/all-courses-net/img-1.jpg" alt=""/>

            <p>
                高中英语
                <span>￥60</span>
            </p>
        </div>
    </a>
    <h6><a href="http://seungnet.taobao.com/" target="_blank">查看更多</a></h6>
</div>