<div class="scroll">
    <h4>西象安亲晚托班常年招生</h4>
</div>
<div class="bg7 item-1">
    <div class="inner-con">
        <h3>
            我们能帮您解决
        </h3>

        <p class="q">家长：孩子放学后没人管？</p>

        <p class="a">西象：我们可以提供安静的学习环境和完善的托管服务。</p>

        <p class="q">家长：没有更多精力来照顾您孩子的学习？</p>

        <p class="a">西象：我们有专职的托管老师辅导您孩子的作业。</p>

        <p class="q">家长：想提高孩子各方面的能力？</p>

        <p class="a">西象：我们会监督与培养您孩子良好的学习以及生活习惯。</p>
    </div>
    <img src="/images/bgs7/imgs/img-1.jpg" alt=""/>
</div>
<div class="bg7 item-2">
    <img src="/images/bgs7/imgs/img-2.jpg" alt=""/>

    <div class="inner-con">
        <h3>招生信息</h3>

        <p class="q">招生对象</p>

        <p class="a">小学1年级到5年级各年龄段小学生。</p>

        <p class="q">收费标准</p>

        <p class="a">1500元/月（含晚餐），1700元/月（校车接）。</p>

        <p class="q">晚托班时间</p>

        <p class="a">放学开始，安排老师托管到20:00，如果期间学生完不成作业<br/>
            托管老师会全程监督学生完成作业。</p>
    </div>

</div>
<div class="bg7 item-3">
    <div class="inner-con">
        <h3>晚托班流程</h3>

        <p>1、放学后由托管老师安全及时把学生接至西象教育教室。</p>

        <p>2、托管老师会监督与辅导学生的自觉准时的完成作业，包括预习、复习、听力、默写等，并检查作业的准确度，纠正错误。</p>

        <p>3、托管老师针对学生弱势学科查漏补缺，复习预习，减轻家长辅导负担。</p>

        <p>4、托管老师陪学生听当天的英语教材，课内外阅读，并进行辅导。</p>

        <p>5、纠正不良习惯，提升学生的专注力和创造力，培养良好的独立思考和自由学习能力。</p>

        <p>6、对及时很好地完成功课的学生，适时安排他们进行趣味、益智游戏等活动。</p>

        <p>7、托管老师与自己负责的学生家长做好沟通，及时反映小学生当天作业完成情况、提出学习上的建议。</p>
    </div>
    <img src="/images/bgs7/imgs/img-3.jpg" alt=""/>
</div>
<div class="bg7 item-4">
    <div class="inner-con">
        <h3>晚托班学员照片</h3>
    </div>
</div>
<div class="pics">
    <img class="item" src="/images/pics/1.jpg" alt=""/>
    <img class="item" src="/images/pics/2.jpg" alt=""/>
    <img class="item" src="/images/pics/3.jpg" alt=""/>
    <img class="item c" src="/images/pics/4.jpg" alt=""/>
    <img class="item" src="/images/pics/5.jpg" alt=""/>
    <img class="item" src="/images/pics/6.jpg" alt=""/>
    <img class="item" src="/images/pics/7.jpg" alt=""/>
    <img class="item c" src="/images/pics/8.jpg" alt=""/>
</div>