<style>
    .title_line {
        border: 1px solid #e5e5e5;
        width: 890px;
        position: relative;
        height: 0;
        top: -33px;
        left: 85px;
    }

    .video-list .header {
        vertical-align: middle;
        height: 70px;
        line-height: 70px;
    }

    .video-list .main.row {
        min-width: 0px;
    }

    .video-list .video-main img {
    }

    .video-list .video-box {
        padding: 0px 30px;
    }

    .video-list .newpage-video-bt {
        width: 100%;
        height: 166px;
        height: 100%;
        background: 0 0;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .video-list .newpage-video-bt .video-play-btn {
        zoom: 1;
        line-height: 59px;
        vertical-align: text-top;
        position: absolute;
        top: 40%;
        left: 50%;
        width: 59px;
        height: 59px;
        margin-left: -29px;
        margin-top: -29px;
        display: block;
        transition: .1s;
        background: url(/video/images/icon.png) -69px -629px no-repeat;
    }

    .video-list .newpage-video-bt:hover {
        color: #00A8DF;
    }

    .video-list .newpage-video-bt:hover .video-play-btn {
        background: url(/video/images/icon.png) -5px -629px no-repeat
    }

    .video-list .col-xs-3 .video-desc {
        padding-bottom: 10px;
        border-bottom: 1px solid #c7c7cd;
    }

    .professor-list {
        margin-top: 60px;
    }

    .professor-list .header {
        vertical-align: middle;
        height: 70px;
        line-height: 70px;
    }

    .professor-list .main {
        padding: 10px 30px;
    }

    .professor-list .professor-desc {
        padding: 5px 10px;
    }

    .professor-list .professor-desc li {
        font-size: 12px;
        color: #6d6d73;
        margin: 2px 0px;
    }

    .mom-list {

    }

    .mom-list .header {
        vertical-align: middle;
        height: 70px;
        line-height: 70px;
    }

    p {
        margin: 0px;
    }

    .mom-line-dir {
        border-bottom: 2px dashed #9e9e9e;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .col-cate-dir-line-1 {
        border-right: 2px dashed #9e9e9e;
        min-height: 750px;
    }

    .col-cate-dir-line-2 {
        border-right: 2px dashed #9e9e9e;
        min-height: 830px;
        margin-top: -80px;
    }
</style>

<!--一页-->
<div class="row">
    <div>
        <div class="col-xs-1">
            <img src="/video/new/demo-1.png">
        </div>
        <div class="">
            <h3 style="color:red">/新颖的教学方式，有趣的学习过程/</h3>
            <h2 style="font-weight: 600">让孩子真正爱上学英语!</h2>
        </div>
    </div>
</div>
<!--1-->
<div class="row">
    <div class="col-xs-6">
        <img class="img-responsive pull-right"
             style="height: 250px;
             z-index: 1000;"
             src="/video/lazy.gif"
             data-original="/video/new/1-1.png">
    </div>
    <div class="col-xs-6">
        <div style="background: url('/video/new/1-2.png') repeat;
            position: absolute;
            left: -60px;
            height: 150px;
            width: 100%;
            -moz-background-size:100% 100%;
            background-size:100% 100%;
            padding: 5px 50px 5px 20px;">
            <h3 style="font-weight: 600;">多媒体课程软件</h3>
            <p>有声动画、互动游戏、让孩子们</p>
            <p>在课堂上的每一分钟都全神贯注。</p>
        </div>
    </div>
</div>
<!--2-->
<div class="row" style="position: absolute;height: 260px;margin-top: -100px;">
    <div class="col-xs-6">
        <div style="background: url('/video/new/6.png');
        position: absolute;
        right: -30px;
        height: 150px;
        margin-top: 100px;
            -moz-background-size:100% 100%;
            background-size:100% 100%;
            padding: 5px 10px 5px 50px;" class="pull-right">
            <h3 class="" style="font-weight: 600;">英语学习网站</h3>
            <p>50万道听说读写，海量习题以生动有趣的动画形式，</p>
            <p>让做作业充满无限乐趣。</p>
            <p>从2010年至今，孩子们在英语学习网站已经累计完成超过2.5亿道习题。</p>
        </div>
    </div>
    <div class="col-xs-6">
        <img src="/video/lazy.gif" class="img-responsive pull-left" style="height: 250px"
             data-original="/video/new/2-2.png">
    </div>
</div>
<!--3-->
<div class="row" style="margin-top: 180px;">
    <div class="col-xs-6">
        <img src="/video/lazy.gif" class="img-responsive pull-right" style="height: 250px"
             data-original="/video/new/4.png">
    </div>
    <div class="col-xs-6">
        <img class="img-responsive" style="height: 140px;" src="/video/new/5.png">
        <div style="background: url('/video/new/2-1.png') repeat;
             -moz-background-size:100% 100%;
            background-size:100% 100%;
            width: 100%;
            position: absolute;
            left: -30px;
            padding: 10px 20px;">
            <h3 style="font-weight: 600;">卡通原版英语教材</h3>
            <p>有趣的故事、精美的设计激发孩子的阅读兴趣，</p>
            <p>让孩子学的更主动。</p>
        </div>
    </div>
</div>
<!--4-->
<div class="row" style="margin-top: 10px;">
    <div class="col-xs-6">
        <img src="/video/lazy.gif"
             class="img-responsive pull-right" style="height: 250px;"
             data-original="/video/new/4-2.png">
        <div style="background: url('/video/new/6.png');
        position: absolute;
        right: -30px;
        height: 100px;
        margin-top: 180px;
            -moz-background-size:100% 100%;
            background-size:100% 100%;" class="pull-right">
            <h3 style="font-weight: 600;padding-left: 100px;">爱校通</h3>
            <p style="padding-left: 100px;">提供在线学习报告一览学生学习情况，每周更有短信告知孩子的学习情况，让家长放心又省心。</p>
        </div>
    </div>
    <div class="col-xs-6">
        <img src="/video/lazy.gif"
             class="img-responsive pull-left" style="height: 280px" data-original="/video/new/4-1.png">
    </div>
</div>


<!--end ye top-->
<div class="row" style="margin-top: 50px;">
    <h2 style="padding-left: 40px;color: #B11729;margin-bottom: 0px;">/在西象教育的课堂上，孩子们学什么？/</h2>
    <h1 style="padding-left: 20px;font-weight:600;margin-top: 0px;">西象哈佛少儿英语 课程体系和介绍</h1>
    <div class="text-center" style="margin-top: 20px;">
        <img style="width: 100%;padding-right:10px;height: auto" src="/video/new/last-top-bar.png">
    </div>
</div>
<div class="row">
    <div class="col-xs-5">
        <img style="height: 150px;width: 100%;" src="/video/new/end-left-type.png">
    </div>
    <div class="col-xs-7">
        <p style="margin-top: 20px;">
            <label style="color: #ff9901;padding-right: 5px;">同步性：</label>西象哈佛少儿英语
            <span style="color: #e72e2e">100%</span>包含了小学英语教学大纲的全部知识点，帮助孩子更好的巩固学校课堂上所学习的内容，
            <span style="color: #e72e2e;font-weight: 600">实实在在提升孩子的学习成绩。</span>
        </p>
        <p style="margin-top: 20px;">
            <label style="color: #ff9901;padding-right: 5px;">拓展性：</label>西象哈佛少儿英语的拓展部分根据美国和英国新课标的1-2年级内容所编写，
            多学科英语授课，
            <span style="color: #e72e2e;font-weight: 600">为孩子将来出国升学打好基础。</span>
        </p>
    </div>
</div>
<div class="row">
    <div class="text-center" style="margin-top: 20px;">
        <img style="width: 100%;padding-right:10px;height: auto" src="/video/new/last-bottom-dir.png">
    </div>
</div>
<div class="row" style="margin-top: 30px;">
    <div style="width: 600px;">
        <img style="margin-left: 30px;width: 60px;display: inline-block" class="img-responsive"
             data-original="/video/new/last-icon-seven.png">
        <span style="display: inline-block;position:absolute;margin-left: 10px;">
            <p><span style="color: #e72e2e;font-weight: 600">个级别</span>由易及难，为学生打造最科学系统的学</p>
            <p>习计划，学完全部课程后，学生可以全部掌握</p>
            <p>日常英语应用的听说读写技能。</p>
        </span>
    </div>
</div>

<!--3排-->
<div class="row" style="margin-top: 100px;">
    <div class="col-xs-4 text-center">
        <div style="position: absolute;margin-top: -20px;margin-left: 25px;">
            <img class="img-responsive" src="/video/new/col-cate-1.png">
            <img style="width: 240px;margin-top: 40px;" class="img-responsive" src="/video/new/col-up-1.png">
        </div>
        <div class="col-cate-dir-line-1"></div>
    </div>
    <div class="col-xs-4 text-center" style="">
        <div style="position: absolute;margin-top: -100px;margin-left: 25px;">
            <img class="img-responsive" src="/video/new/col-cate-2.png">
            <img style="width: 240px;margin-top: 40px;" class="img-responsive" src="/video/new/col-up-2.png">
        </div>
        <div class="col-cate-dir-line-2"></div>
    </div>
    <div class="col-xs-4 text-center">
        <div style="position: absolute;margin-top: -210px;margin-left: 25px;">
            <img class="img-responsive" src="/video/new/col-cate-3.png">
            <img style="width: 240px;margin-top: 25px;" class="img-responsive" src="/video/new/col-up-3.png">
        </div>
    </div>
</div>

<!--妈妈评语-->
<div class="mom-list">
    <div class="header">
        <p style="font-size: 18px; margin: 20px 0px 20px; color: rgb(136, 136, 136);">妈妈评语</p>
        <div class="title_line" style="top:-54px;left:85px;"></div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
            <img class="img-responsive" src="/video/lazy.gif" style="height: 160px;width: 160px;"
                 data-original="/video/new/head-mom-1.png">
        </div>
        <div class="col-xs-9">
            <h3 style="font-weight: 700">程程妈妈</h3>
            <h4 style="font-weight: 600">孩子三年级</h4>
            <p style="width: 600px;">
                每周都会收到西象教育的邮件和短信，告诉孩子最近一周的学习情况，看到孩子的学习情况越来越好，我心里真的很高兴。
            </p>
        </div>
    </div>
    <div class="mom-line-dir"></div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
            <img class="img-responsive" src="/video/lazy.gif" style="height: 160px;width: 160px;"
                 data-original="/video/new/head-mom-2.png">
        </div>
        <div class="col-xs-9">
            <h3 style="font-weight: 700">佳佳妈妈</h3>
            <h4 style="font-weight: 600">孩子二年级</h4>
            <p style="width: 600px;">
                佳佳很喜欢西象教育的图书馆，每次阅读的时候，他还会跟我一起朗读故事内容，这对他的口语很有帮助。
            </p>
        </div>
    </div>
    <div class="mom-line-dir"></div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
            <img class="img-responsive" src="/video/lazy.gif" style="height: 160px;width: 160px;"
                 data-original="/video/new/head-mom-3.png">
        </div>
        <div class="col-xs-9">
            <h3 style="font-weight: 700">贾爱芳</h3>
            <h4 style="font-weight: 600">上海市小学英语高级教师 从事一线教学超过30年</h4>
            <p style="width: 600px;">
                对于孩子来说，兴趣是学习的动力。西象教育带给孩子的不仅是英语的知识，更重要的是让孩子体会到了英语学习的乐趣。
            </p>
        </div>
    </div>
</div>
<!--精彩视频-->
<div class="video-list">
    <div class="header">
        <p style="font-size: 18px; margin: 20px 0px 20px; color: rgb(136, 136, 136);">精彩视频</p>
        <div class="title_line" style="top:-54px;left:85px;"></div>
    </div>
    <div class="main row">
        <div class="video-box text-center">
            <div class="col-xs-3">
                <div class="video-main">
                    <img class="img-responsive" src="/video/lazy.gif" data-original="/video/images/video-1.jpg">
                    <a class="inline-block-without-size newpage-video-bt" target="_blank"
                       href=" /video/1">
                        <i class="video-play-btn"></i></a>
                </div>
                <div class="video-desc">
                    <br>
                    <p>爱乐奇英语品牌及产品简介</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="video-main">
                    <img class="img-responsive" src="/video/lazy.gif" data-original="/video/images/video-2.jpg">
                    <a class="inline-block-without-size newpage-video-bt" target="_blank"
                       href=" /video/2">
                        <i class="video-play-btn"></i></a>
                </div>
                <div class="video-desc">
                    <br>
                    <p>爱乐奇课本内容和设计:Tots</p>

                </div>
            </div>
            <div class="col-xs-3">
                <div class="video-main">
                    <img class="img-responsive" src="/video/lazy.gif" data-original="/video/images/video-3.jpg">
                    <a class="inline-block-without-size newpage-video-bt" target="_blank"
                       href="/video/3">
                        <i class="video-play-btn"></i></a>
                </div>
                <div class="video-desc">
                    <br>
                    <p>爱乐奇课本内容和设计:Kids</p>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="video-main">
                    <img class="img-responsive" src="/video/lazy.gif" data-original="/video/images/video-4.jpg">
                    <a class="inline-block-without-size newpage-video-bt" target="_blank"
                       href="/video/4">
                        <i class="video-play-btn"></i></a>
                </div>
                <div class="video-desc">
                    <br>
                    <p>爱乐奇课本内容和设计:Teens</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--专家团队-->
<div class="professor-list">
    <div class="header">
        <p style="font-size: 18px; margin: 20px 0px 20px; color: rgb(136, 136, 136);">专家团队</p>
        <div class="title_line" style="top:-54px;left:85px;"></div>
    </div>
    <div class="main row">
        <div class="professor-box">
            <div class="col-xs-3">
                <div class="professor-main">
                    <img class="img-responsive" src="/video/lazy.gif" data-original="/professor/images/pro-1.png">
                </div>
                <div class="professor-desc">
                    <h4>卡伦•布莱斯</h4>
                    <ul style="padding-left: 10px;">
                        <li>哈佛大学教授</li>
                        <li>爱乐奇英语教学首席顾问</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="professor-main">
                    <img class="img-responsive" src="/video/lazy.gif" data-original="/professor/images/pro-2.png">
                </div>
                <div class="professor-desc">
                    <h4>唐威廉</h4>
                    <ul style="padding-left: 10px;">
                        <li> 哥伦比亚大学TEFLC</li>
                        <li>爱乐奇英语教学副总裁</li>
                        <li>CCTV英语益智类节目《爱拼才会赢》总顾问</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="professor-main">
                    <img class="img-responsive" src="/video/lazy.gif" data-original="/professor/images/pro-3.png">
                </div>
                <div class="professor-desc">
                    <h4>尼葛洛庞帝</h4>
                    <ul style="padding-left: 10px;">
                        <li>数字化大师</li>
                        <li>麻省理工媒体实验室主席</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="professor-main">
                    <img class="img-responsive" src="/video/lazy.gif" data-original="/professor/images/pro-4.png">
                </div>
                <div class="professor-desc">
                    <h4>潘鹏凯</h4>
                    <ul style="padding-left: 10px;">
                        <li>国际著名的少儿教育专家</li>
                        <li>美国麻省理工博士</li>
                        <li>爱乐奇英语创始人</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
