<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>英语</h1>
        <h4>提高班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>英语</span></h5>

        <% include same-3.ejs %>

    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>英语</h1>
        <h4>特优班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>英语</span></h5>

        <% include same-4.ejs %>

    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>数学</h1>
        <h4>提高班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>数学</span></h5>

        <% include same-3.ejs %>

    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>数学</h1>
        <h4>特优班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>数学</span></h5>

        <% include same-4.ejs %>

    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>语文</h1>
        <h4>提高班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>语文</span></h5>

        <% include same-3.ejs %>

    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>语文</h1>
        <h4>特优班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>语文</span></h5>

        <% include same-4.ejs %>

    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>物理</h1>
        <h4>提高班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>物理</span></h5>

        <% include same-3.ejs %>

    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>物理</h1>
        <h4>特优班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>物理</span></h5>

        <% include same-4.ejs %>

    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>化学</h1>
        <h4>提高班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>化学</span></h5>

        <% include same-3.ejs %>

    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>化学</h1>
        <h4>特优班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>化学</span></h5>

        <% include same-4.ejs %>

    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>

<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>高三</h1>
        <h4>高考强化班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>高三高考强化班</span></h5>


        <dl>
            <dt>课程介绍：</dt>
            <dd>针对高考第二轮专项复习，基本概念和理论的题型与解题技巧归纳，高考题型专项训练。</dd>
        </dl>

    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>