<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>英语</h1>
        <h4>基础班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>英语</span></h5>
        <dl>
            <dt>培训对象</dt>
            <dd>基础知识比较薄弱的学生，着重训练基础题型，帮助学生理清思路</dd>
            <dt>课程介绍</dt>
            <dd>细化语法知识，重点训练小升初英语的标注化考试题型，为小升初打下坚实的基础，全面拓展英语技能，快速提高英语水平</dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>英语</h1>
        <h4>提高班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>英语</span></h5>
        <dl>
            <dt>培训对象</dt>
            <dd>想快速提高成绩、中等或中等偏上的学生，基础70%+加难加深拓展题30%</dd>
            <dt>课程介绍</dt>
            <dd>细化语法知识，重点训练小升初英语的标注化考试题型，为小升初打下坚实的基础，全面拓展英语技能，快速提高英语水平</dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>数学</h1>
        <h4>基础班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>数学</span></h5>
        <dl>
            <dt>培训对象</dt>
            <dd>基础知识比较薄弱的学生，着重训练基础题型，帮助学生理清思路</dd>
            <dt>课程介绍</dt>
            <dd>针对学生进行有效的思维、逻辑分析能力训练，扎实掌握常考的重要知识点，能够举一反三，发现考试中的陷阱并能正确的解决和攻克。</dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>数学</h1>
        <h4>提高班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>数学</span></h5>
        <dl>
            <dt>培训对象</dt>
            <dd>想快速提高成绩、中等或中等偏上的学生，基础70%+加难加深拓展题30%</dd>
            <dt>课程介绍</dt>
            <dd>针对学生进行有效的思维、逻辑分析能力训练，扎实掌握常考的重要知识点，能够举一反三，发现考试中的陷阱并能正确的解决和攻克。</dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1 style="font-size: 30px;">自然拼读</h1>
        <h4>精品小班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>自然拼读</span></h5>

        <dl>
            <dt>培训对象</dt>
            <dd>帮助记忆单词，背单词困难，对英语没有兴趣的学生</dd>
            <dt>课程介绍</dt>
            <dd>打破中式口语桎梏，学习标准发音，通过丰富的上课形式，如：故事教学方法等，重视“自我表露”，从而发展学习兴趣与潜能。</dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>

<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1 style="font-size: 26px;">新概念英语</h1>
        <h4>精品小班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>新概念英语</span></h5>
        <dl>
            <dt>培训对象</dt>
            <dd>1—5年级需要增强语法，提高词汇量的学生</dd>
            <dt>课程介绍</dt>
            <dd>《新概念英语》是一部畅销四十六年风靡全球的经典英语教程，我们将借助经典教材，在全面提高学习者英语听、说、读、写、译综合素质，其独有的应用能力训练，快速提高英语实际应用能力。</dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>

<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>奥数</h1>
        <h4>精品小班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>奥数</span></h5>

        <dl>
            <dt>培训对象</dt>
            <dd>准备参加春蕾杯、希望杯竞赛，考取证书并为小升初做准备的学生</dd>
            <dt>课程介绍</dt>
            <dd>奥数课程以讲练结合的形式进行，重视反馈、重视复习、重视作业，并辅以阶段性的测评。让学员有扎实的基础去面对多变的问题，真正提高学员的数学运用能力和思维能力。</dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>

<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>SBS（朗文）</h1>
        <h4>精品小班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>SBS（朗文）</span></h5>

        <dl>
            <dt>培训对象</dt>
            <dd>二、三年级学生（SBS1上册）四、五年级学生（SBS1下册）</dd>
            <dt>课程介绍</dt>
            <dd>结合上海中小学英语教学大纲要求，采用游戏、歌曲童谣、喜剧、故事、多媒体等丰富多元的教学手段，使孩子的学习兴趣得以提升并积累语感。</dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
	
	
</div>