<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>英语</h1>
        <h4>提高班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>英语</span></h5>
        <% include same-1.ejs %>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>英语</h1>
        <h4>特优班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>英语</span></h5>
        <% include same-2.ejs %>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>数学</h1>
        <h4>提高班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>英语</span></h5>
        <% include same-1.ejs %>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>数学</h1>
        <h4>特优班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>数学</span></h5>

        <% include same-2.ejs %>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>语文</h1>
        <h4>提高班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>英语</span></h5>
        <% include same-1.ejs %>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>语文</h1>
        <h4>特优班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>语文</span></h5>

        <% include same-2.ejs %>

    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>物理</h1>
        <h4>提高班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>英语</span></h5>
        <% include same-1.ejs %>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>物理</h1>
        <h4>特优班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>物理</span></h5>

        <% include same-2.ejs %>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>化学</h1>
        <h4>提高班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>英语</span></h5>
        <% include same-1.ejs %>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>化学</h1>
        <h4>特优班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>化学</span></h5>

        <% include same-2.ejs %>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>
<div class="all-courses-main-one">
    <div class="all-course-main-left">
        <h1>初三</h1>
        <h4>冲刺班</h4>
    </div>
    <div class="all-course-main-right">
        <h5><span>初三冲刺班</span></h5>
        <dl>
            <dt>课程内容：</dt>
            <dd>根据上海中考政策、结合上海市中考信息、考纲以及重点中学的中考、直升考特点，对各知识点进行拓展研究，以专题训练为主要手段，帮助学生提高应试能力和解题能力。</dd>
        </dl>
    </div>
    <div class="order-block"><a href="#">预约试听</a></div>
</div>