<div id="wrapper">
    <div id="banner">
        <img alt="寒托班火热报名中" src="/images/banner.jpg" />
    </div>

    <div class="main">

        <img class="table-pic" src="/images/table_pic.png" />
        <h2>寒托班流程</h2>
        <div class="content-right">
		<dl>
		<dd>1、老师督导学生，集中完成寒假学校布置的家庭作业；</dd>
		<dd>2、检查、监督学生的作业完成情况，对完成的作业进行批改指正；</dd>
		<dd>3、对学习遇到的问题进行辅导、解答疑问；</dd>
		<dd>4、陪学生听当日的英语教材、课内外阅读，并进行辅导；</dd>
		<dd>5、纠正不良习惯、提升学生的专注力和创造力，培养良好的独立思考和自主学习能力；</dd>
		<dd>6、对及时、很好地完成功课的学生，适时安排他们进行趣味、益智游戏等活动；</dd>
		
		</dl>
           
            <dl>
                <h2>招生对象：</h2>
                <dd>小学1-5年级</dd>
                <h2>上课时间：</h2>
                <dd>1月21日-2月3日</dd>
            </dl>
        </div>
    </div><!-- main结束 -->


</div>