<!doctype html>
<html lang="zh_cn">
<% include includes/head.ejs %>
<style type="text/css">
    html, body {
        margin: 0;
        padding: 0;
    }

    .contact {
        margin-top: 20px;
    }

    #content .contact p {
        text-indent: 0;
    }
</style>
<body>
<% include includes/header.ejs %>
<div id="content">
    <div class="main-content wrapper">
        <div class="inner">
            <div class="content-picture">
                <div class="content-picture-fd">
                    <img src="/images/about/about-p-one.png"/>
                </div>
                <div class="content-picture-fd">
                    <img src="/images/about/about-p-two.png"/>
                </div>
                <div class="content-picture-fd s">
                    <img src="/images/about/about-p-three.png"/>
                </div>
                <div class="content-picture-fd">
                    <img src="/images/about/about-p-four.png"/>
                </div>
                <div class="content-picture-fd middle">
                    <div class="picture-center-shuazi">
                        <h5>关于我们</h5>
                    </div>
                    <p class="center-content">
                        学生的教育越来越受到家长和老师的关注，许多学生都养成了补习的习惯，但是家长寻找合适的辅导机构却成了一个大的问题。西象教育向您保证给您和您的孩子带来学习上的迅速进步。我们的目标就是打造一个让家长和学生值得信赖的学习中心，不仅让学生成绩得到提高，更会将科学的学习方法教授给学生。上海西象教育科技有限公司，成立于
                        2008年，是一家专业从事中小学学习能力辅导与
                        培养的机构，在办学以来秉承着"学生第一"的服
                        务理念，培养了一批批优秀的学生，赢得了广大家
                        长良好的口碑。</p>

                    <p class="center-content">本辅导机构目前开展了"小学晚托班"、"一
                        对一"、"分层小班制教学"、"英语、数理化辅
                        导班"、"英语培训（新概念英语、星级考英语）
                        、"奥数"等课程，来帮助每位学生的日常学习和
                        升学考。我们的教师团队坚持以结果为导向，始终
                        以学生成绩说话，所以90%的学生成绩都能提高。
                        欢迎您前来试听，来电咨询，期待您的加入！</p>


                </div>
                <div class="content-picture-fd s">
                    <img src="/images/about/about-p-six.png"/>
                </div>
                <div class="content-picture-fd">
                    <img src="/images/about/about-p-seven.png"/>
                </div>
                <div class="content-picture-fd">
                    <img src="/images/about/about-p-eight.png"/>
                </div>
                <div class="content-picture-fd s">
                    <img src="/images/about/about-p-nine.png"/>
                </div>
            </div>
            <h4 class="title">联系我们</h4>

            <div class="map">
                <iframe src="/baidu.html" id="" width="1000" height="500" frameborder=0></iframe>
            </div>
            <p class="addgress">地址：上海市浦东新区塘桥路400弄2号楼9层（地铁四号线四号出口）<br>
                周边交通：地铁4号线、地铁6号线、1011、浦卫专线、塘邵专线、624、沪南专线、浦卫线、818、82<br>
                电话：021-68900157
            </p>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>