<!doctype html>
<html lang="zh_cn">
<% include includes/head.ejs %>
<head>
    <meta charset="UTF-8">
    <title><%= title %> | 西象教育 上海中小学生英语&数理化个性化辅导 </title>
	<meta name="description" content="西象教育开设高中课程，初中课程，小学课程全科辅导，利用小班教学，小组辅导，2_6人分层培优，VIP小组课程，带领你冲刺中高考。"/>
	<meta name="keywords" content="西象教育，小班，小班辅导,小班补习，分层培优，2-6人，辅导价格，课外辅导,中考辅导,课外家教,上海家教，课外补习，中考，小升初，1对1,学习方法" />
</head>
<body>
<% include includes/index-header.ejs %>
<div id="content">
    <div class="index-main-content wrapper">
        <div class="inner">
            <a href="/courses/#middle">
                <div class="mod-large">
                    <img src="/images/index/larger.jpg">
                    <h6 class="le-hintbg le-hintbg-oneh">初中课程</h6>
                    <!--<h6 class="le-hintbg le-hintbg-twoh">MIDDLE SCHOOL CURRICULUM</h6>-->
                </div>
            </a>
            <a href="/courses/#high">
                <div class="mod-little  special">
                    <img src="/images/index/small-one.jpg">
                    <h6 class="le-hintbg le-hintbg-oneh">高中课程</h6>
                    <!--<h6 class="le-hintbg le-hintbg-twoh">HIGH&nbsp;SCHOOL&nbsp;CURRICULUM</h6>-->
                </div>
            </a>
            <a href="/courses/#junior">
                <div class="mod-little">
                    <img src="/images/index/small-two.jpg">
                    <h6 class="le-hintbg le-hintbg-oneh">小学课程</h6>
                    <!--<h6 class="le-hintbg le-hintbg-twoh">PRIMARY&nbsp;SCHOOL&nbsp;CURRICULUM</h6>-->
                </div>
            </a>
            <a href="/courses/#online">
                <div class="mod-large sp">
                    <img src="/images/index/small-three.jpg">
                    <h6 class="le-hintbg le-hintbg-oneh">网上授课</h6>
                    <!--<h6 class="le-hintbg le-hintbg-twoh">DISTANCE&nbsp;EDUCATION</h6>-->
                </div>
            </a>
            <a href="/courses/#trustee">
                <div class="mod-little sp">
                    <img src="/images/index/small-four.jpg">
                    <h6 class="le-hintbg le-hintbg-oneh ">晚托班</h6>
                    <!--<h6 class="le-hintbg le-hintbg-twoh ">AFTER&nbsp;SCHOOL</h6>-->
                </div>
            </a>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>