<!doctype html>
<html lang="zh_cn">
<% include includes/head.ejs %>
<body>
<% include includes/header.ejs %>
<div id="content">
<div class="main-content wrapper">
<div class="inner">
<h4 class="gray">西象如何做到</h4>

<h1>提供高质量教学，并保持低价的收费</h1>
<!-- 第一个  -->
<div class="reason-content">
    <div class="reason-content-left">
        <img src="/images\reason/reason-one.png" class="reason-p-left"/>
    </div>
    <div class="reason-content-right">
        <div class="reason-content-right-top">
            <div class="reason-content-title">
                其他机构：
            </div>
            <div class="reason-content-wenzi">
                以销售业绩作为考核指标，把教育公司做成销售公司，咨询师、学管师、教师所做的一切，只是想让您交钱、消耗课时、续费，至于学生成绩，有进步最好，没有？那是公司的事情，反正我已经完成了业绩指标。
            </div>
        </div>
        <div class="reason-content-right-bottom">
            <div class="reason-content-title reason-title-blue">
                西象教育：
            </div>
            <div class="reason-content-wenzi">
                以学生进步作为考核指标：深刻明白家长要找的不是一个简单的机构，而是想获得进步，因此我们一心一意回归到教育本身，专心做质量，所做的一切是为了孩子有进步，然后获得口碑，顺其自然获得发展。现在西象大部分学生都是通过老学员介绍就是最好的佐证。
            </div>
        </div>
    </div>
</div>
<!-- 第二个  -->
<div class="reason-content">

    <div class="reason-content-right">
        <div class="reason-content-right-top">
            <div class="reason-content-title">
                其他机构：
            </div>
            <div class="reason-content-wenzi">
                每个机构都会和你说100%的好师资，但是只肯将10-35%的学费投入到教师的待遇去。
            </div>
        </div>
        <div class="reason-content-right-bottom">
            <div class="reason-content-title reason-title-blue">
                西象教育：
            </div>
            <div class="reason-content-wenzi">
                40－60%的学费投入到师资，直接在待遇上表示对优秀师资的尊重，吸引最优秀的教师，甚至给予教师分红，让老师真正把工作当事业，把学生当孩子。
            </div>
        </div>
    </div>
    <div class="reason-content-left">
        <img src="/images\reason/reason-two.png" class="reason-p-right"/>
    </div>
</div>

<!-- 第三个  -->
<div class="reason-content">
    <div class="reason-content-left">
        <img src="/images\reason/reason-three.png" class="reason-p-left"/>
    </div>
    <div class="reason-content-right">
        <div class="reason-content-right-top">
            <div class="reason-content-title">
                其他机构：
            </div>
            <div class="reason-content-wenzi">
                6对1，一个机构围绕你转，只要你交钱，100%的呵护你。机构就是你的半个托儿所。
            </div>
        </div>
        <div class="reason-content-right-bottom">
            <div class="reason-content-title reason-title-blue">
                西象教育：
            </div>
            <div class="reason-content-wenzi">
                谢绝大声喧哗、经常迟到等低素质行为，谢绝把机构当托儿所，在这里，有进步才能获得尊重。
            </div>
        </div>
    </div>
</div>
<!-- 第四个  -->
<div class="reason-content">

    <div class="reason-content-right">
        <div class="reason-content-right-top">
            <div class="reason-content-title">
                其他机构：
            </div>
            <div class="reason-content-wenzi">
                把学生当成病人看待：从你进门的一刻，就会告诉你有多少毛病，存在多少问题，像医生一样把你当病人去诊断，让你不得不相信自己确实有很多毛病，通过打击学生获得家长对自己信任。
            </div>
        </div>
        <div class="reason-content-right-bottom">
            <div class="reason-content-title reason-title-blue">
                西象教育：
            </div>
            <div class="reason-content-wenzi">
                将学生看成一个具备潜能的对象：从发现学生潜能出发，激发学习动力，挖掘学习潜力和优势，同时弥补短板，最终帮助学生建立信心，学会自己学习，甚至好的生活习惯。
            </div>
        </div>
    </div>
    <div class="reason-content-left">
        <img src="/images\reason/reason-four.png" class="reason-p-right"/>
    </div>
</div>

<!-- 第五个  -->
<div class="reason-content">
    <div class="reason-content-left">
        <img src="/images\reason/reason-five.png" class="reason-p-left"/>
    </div>
    <div class="reason-content-right">
        <div class="reason-content-right-top">
            <div class="reason-content-title">
                其他机构：
            </div>
            <div class="reason-content-wenzi">
                豪华，将资金投入在环境，过度装修，用环境去让家长震撼，满足一些认为“环境＝实力”的家长心理。
            </div>
        </div>
        <div class="reason-content-right-bottom">
            <div class="reason-content-title reason-title-blue">
                西象教育：
            </div>
            <div class="reason-content-wenzi">
                简约不简单，崇尚世界主流的简约风格，刻意追求“干净、清爽、整洁”，崇尚环保主义，将省下的资金投入到师资。
            </div>
        </div>
    </div>
</div>
<!-- 第六个  -->
<div class="reason-content">

    <div class="reason-content-right">
        <div class="reason-content-right-top">
            <div class="reason-content-title">
                其他机构：
            </div>
            <div class="reason-content-wenzi">
                电视、报纸、广播、传单，每年投入大量的资金在广告上，他们吃准部分家长“广告=实力”的心理。
            </div>
        </div>
        <div class="reason-content-right-bottom">
            <div class="reason-content-title reason-title-blue">
                西象教育：
            </div>
            <div class="reason-content-wenzi">               我们坚信："好的教育质量“是教育品牌生存和发展的核心。与其花大量费用去投放广告，还不如将费用真真切切，一分一毫的用在提高教育质量和降低学员费用上！我们始终相信如果学生在西象获得了成长，他必定会介绍其他同学，一传十，十传百！
            </div>
        </div>
    </div>
    <div class="reason-content-left">
        <img src="/images\reason/reason-six.png" class="reason-p-right"/>
    </div>
</div>

<!-- 第七个  -->
<div class="reason-content">
    <div class="reason-content-left">
        <img src="/images\reason/reason-seven.png" class="reason-p-left"/>
    </div>
    <div class="reason-content-right">
        <div class="reason-content-right-top">
            <div class="reason-content-title">
                其他机构：
            </div>
            <div class="reason-content-wenzi">
                吃准家长“一份钱一分货”的心理，价格越高越容易获得家长信赖，并且在价格上采取各种销售技巧，诱使家长签单，实际是“十分钱，一分货”。
            </div>
        </div>
        <div class="reason-content-right-bottom">
            <div class="reason-content-title reason-title-red">
                西象教育：
            </div>
            <div class="reason-content-wenzi">
                我们明白家长找一个机构真正想要的是进步，而不是想要实惠，因此我们专注于教学质量，专注于帮助学生进步，同时也会降低家长的支付成本，做到“一分钱2分货”。
            </div>
        </div>
    </div>
</div>
<!-- 第八个  -->
<div class="reason-content">

    <div class="reason-content-right">
        <div class="reason-content-right-top">
            <div class="reason-content-title">
                其他机构：
            </div>
            <div class="reason-content-wenzi">
                签约的时候100%的承诺无条件退款，但是真正效果不好退款的时候，确实各种扣费，各种陷阱，让你退得心力交瘁。
            </div>
        </div>
        <div class="reason-content-right-bottom">
            <div class="reason-content-title reason-title-red">
                西象教育：
            </div>
            <div class="reason-content-wenzi">
                坚持“无条件退还余额”的承诺，始创之今，没有任何一例资费纠纷，只因我们认为“诚信”是本机构的立足之本。
            </div>
        </div>
    </div>
    <div class="reason-content-left">
        <img src="/images\reason/reason-eight.png" class="reason-p-right"/>
    </div>
</div>
<h4 class="title">特色课程</h4>

<table class="features">
    <tr class="features-h">
        <td class="features-l-one features-oneh-left">分层数学</td>
        <td class="features-l-two features-oneh-right">测试分班，由老师安排到不同班级</td>
    </tr>
    <tr class="features-h">
        <td class="features-l-one features-twoh-left">因材施教</td>
        <td class="features-l-two  features-twoh-right">制定学习计划安排表</td>
    </tr>
    <tr class="features-h">
        <td class="features-l-one features-threeh-left">家校沟通</td>
        <td class="features-l-two  features-threeh-right">老师全程跟踪学生学习状况，及时和家长反映，实现良好学校沟通。</td>
    </tr>
    <tr class="features-h">
        <td class="features-l-one features-fourh-left">心理咨询</td>
        <td class="features-l-two  features-fourh-right">端正学习态度</td>
    </tr>
    <tr class="features-h">
        <td class="features-l-one features-fiveh-left">试卷分析</td>
        <td class="features-l-two  features-fiveh-right">考试是检验学生成绩的方法，对试卷进行分析让学生更多认识自己的失误</td>
    </tr>
    <tr class="features-h">
        <td class="features-l-one features-sixh-left">2-8人小班制教学</td>
        <td class="features-l-two features-sixh-right">对传统班级教学的变革，将成为中小学教学模式的主流。</td>
    </tr>
</table>


<div class="scroll">
    <h4>在职一线教师团队，信心之选</h4>
</div>
<div class="content-bottom">
    <p class="content-bottom-left">
        西象教育，经过七年多沉淀和积累，通过严格的培训和管理，拥有了一只最资深的在职老师的优秀教师队伍，所聘老师教龄长久，经验丰富，周周组织教研讨论，紧密结合大纲考点，使学生在最短时间内提高成绩，赢得了广大家长的好口碑。</p>

    <div class="content-bottom-right">
        <p class="content-bottom-right-block" style="background:#575757;">
            <span class="big">严</span><span class="word-distance">把师资</span>100个面试老师，我们只录用5%
        </p>

        <p class="content-bottom-right-block" style="background:#d94c5a;">
            <span class="big">严</span><span class="word-distance">格考核</span>每年20%的老师考核不及格而被淘汰
        </p>

        <p class="content-bottom-right-block" style="background:#80cbc9;">
            <span class="big">严</span><span class="word-distance">格考评</span>每周我们会100%检查教案，改进教学
        </p>
    </div>
</div>
</div>
</div>
</div>
<% include includes/footer.ejs %>
</body>
</html>