<!doctype html>
<html lang="zh_cn">
<% include includes/head.ejs %>
<body>
<% include includes/header.ejs %>
<div id="content">
<div class="main-content wrapper">
<div class="inner">
<h3>2014暑假课程安排</h3>
<table class="table table-bordered">
<colgroup>
    <col width="13%">
    <col width="4%">
    <col width="16%">
    <col width="7%">
    <col width="18%">
    <col width="20%">
    <col width="12%">
    <col width="10%">
</colgroup>
<tr>
    <td>期数</td>
    <td>课程</td>
    <td>年级/班次</td>
    <td>次数</td>
    <td>时间</td>
    <td>具体时间</td>
    <td>任课老师</td>
    <td>费用</td>
</tr>
<tr>
    <td rowspan="11">暑期第一期平时班(6.30-8.1)</td>
    <td rowspan="8">英语</td>
    <td>两年级基础班</td>
    <td>15次</td>
    <td>每周一、三、五</td>
    <td>9：30—11：30</td>
    <td>李素芬</td>
    <td>1500元</td>
</tr>
<tr>
    <td>三年级Phonic</td>
    <td>15次</td>
    <td>每周一、三、五</td>
    <td>8：30-10：30</td>
    <td>Crystal</td>
    <td>1800元</td>
</tr>
<tr>
    <td>三年级提高班</td>
    <td>15次</td>
    <td>每周一、三、五</td>
    <td>10：30—12：30</td>
    <td>石瑛</td>
    <td>1500元</td>
</tr>
<tr>
    <td>四年级新概念1</td>
    <td>15次</td>
    <td>每周一、三、五</td>
    <td>8：30-10：30</td>
    <td>奚李婷</td>
    <td>1500元</td>
</tr>
<tr>
    <td>四年级新概念1</td>
    <td>15次</td>
    <td>每周一、三、五</td>
    <td>10：30—12：30</td>
    <td>奚李婷</td>
    <td>1500元</td>
</tr>
<tr>
    <td>四年级新概念2</td>
    <td>15次</td>
    <td>每周一、三、五</td>
    <td>15：00—17：00</td>
    <td>Crystal</td>
    <td>1500元</td>
</tr>
<tr>
    <td>五年级新概念2</td>
    <td>15次</td>
    <td>每周一、三、五</td>
    <td>13：00—15：00</td>
    <td>Crystal</td>
    <td>1500元</td>
</tr>
<tr>
    <td>六年级新概念2</td>
    <td>15次</td>
    <td>每周一、三、五</td>
    <td>10：30—12：30</td>
    <td>Crystal</td>
    <td>1500元</td>
</tr>
<tr>
    <td rowspan="3">数学</td>
    <td>四年级基础班</td>
    <td>15次</td>
    <td>每周一、三、五</td>
    <td>13：00—15：00</td>
    <td>方伟</td>
    <td>1500元</td>
</tr>
<tr>
    <td>五年级奥数班</td>
    <td>15次</td>
    <td>每周一、三、五</td>
    <td>15：00—17：00</td>
    <td>吴志勇</td>
    <td>1800元</td>
</tr>
<tr>
    <td>六年级基础班</td>
    <td>15次</td>
    <td>每周一、三、五</td>
    <td>13：00—15：00</td>
    <td>石瑛</td>
    <td>1500元</td>
</tr>
<tr>
    <td rowspan="13">暑期第二期周末班(7.5-8.23)</td>
    <td rowspan="5">英语</td>
    <td>七年级基础班</td>
    <td>15次</td>
    <td>周六周日</td>
    <td>9：30—11：30</td>
    <td>李素芬</td>
    <td>1500元</td>
</tr>
<tr>
    <td>八年级基础班</td>
    <td>15次</td>
    <td>周六周日</td>
    <td>10：30—12：30</td>
    <td>王伟</td>
    <td>1500元</td>
</tr>
<tr>
    <td>九年级基础班</td>
    <td>15次</td>
    <td>周六周日</td>
    <td>8：30—10：30</td>
    <td>Crystal</td>
    <td>1800元</td>
</tr>
<tr>
    <td>高二基础班</td>
    <td>15次</td>
    <td>周六周日</td>
    <td>10：30—12：30</td>
    <td>钱涵诣</td>
    <td>1800元</td>
</tr>
<tr>
    <td>高三基础班</td>
    <td>15次</td>
    <td>周六周日</td>
    <td>13：00—15：00</td>
    <td>钱涵诣</td>
    <td>2250元</td>
</tr>
<tr>
    <td rowspan="8">数理化</td>
    <td>八年级数学</td>
    <td>15次</td>
    <td>周六周日</td>
    <td>13：00—15：00</td>
    <td>白红贤</td>
    <td>1500元</td>
</tr>
<tr>
    <td>八年级物理</td>
    <td>15次</td>
    <td>周六周日</td>
    <td>15：00—17：00</td>
    <td>陈旺</td>
    <td>1500元</td>
</tr>
<tr>
    <td>九年级数学</td>
    <td>15次</td>
    <td>周六周日</td>
    <td>10：30—12：30</td>
    <td>吴志勇</td>
    <td>1800元</td>
</tr>
<tr>
    <td>九年级物理</td>
    <td>15次</td>
    <td>周六周日</td>
    <td>13：00—15：00</td>
    <td>吴志勇</td>
    <td>1800元</td>
</tr>
<tr>
    <td>九年级化学</td>
    <td>15次</td>
    <td>周六周日</td>
    <td>15：00—17：00</td>
    <td>吴志勇</td>
    <td>1800元</td>
</tr>
<tr>
    <td>高二数学</td>
    <td>15次</td>
    <td>周六周日</td>
    <td>13：00—15：00</td>
    <td>房立军</td>
    <td>1800元</td>
</tr>
<tr>
    <td>高二物理</td>
    <td>15次</td>
    <td>周六周日</td>
    <td>8：30—10：30</td>
    <td>吴志勇</td>
    <td>1800元</td>
</tr>
<tr>
    <td>高三数学</td>
    <td>15次</td>
    <td>周六周日</td>
    <td>15：00—17：00</td>
    <td>房立军</td>
    <td>2250元</td>
</tr>
<tr>
    <td rowspan="2">暑期第三期(8.4-8.22)</td>
    <td>英语</td>
    <td>五年级提高班</td>
    <td>15次</td>
    <td>周一至周五</td>
    <td>8：30—10：30</td>
    <td>石瑛</td>
    <td>1500元</td>
</tr>
<tr>
    <td>数学</td>
    <td>五年级提高班</td>
    <td>15次</td>
    <td>周一至周五</td>
    <td>10：30—12：30</td>
    <td>石瑛</td>
    <td>1500元</td>
</tr>
</table>
</div>
</div>
</div>
<% include includes/footer.ejs %>
</body>
</html>