<!doctype html>
<html lang="zh_cn">
<% include includes/head.ejs %>
<body>
<% include includes/header.ejs %>
<div id="content">
<div class="main-content wrapper">
<div class="inner">
<h3>2014秋季班课程安排</h3>
<table class="table table-bordered">
<colgroup>

    <col width="20%">
    <col width="7%">
    <col width="18%">
    <col width="20%">
    <col width="12%">
    <col width="10%">
</colgroup>
<tr>

    <td>年级/班次</td>
    <td>次数</td>
    <td>时间</td>
    <td>具体时间</td>
    <td>任课老师</td>
    <td>费用</td>
</tr>
<tr>

    <td>一年级phonics</td>
    <td>17次</td>
    <td>每周日</td>
    <td>15:30-17:30</td>
    <td>Crystal</td>
    <td>1700元</td>
</tr>
<tr>
    <td>二年级新概念1</td>
    <td>17次</td>
    <td>每周日</td>
    <td>15:30-17:30</td>
    <td>奚老师</td>
    <td>1700元</td>
</tr>
<tr>
    <td>三年级SBS 1</td>
    <td>17次</td>
    <td>每周日</td>
    <td>13:00-15:00</td>
    <td>奚老师</td>
    <td>1700元</td>
</tr>
<tr>
    <td>四年级新概念1</td>
    <td>17次</td>
    <td>每周五</td>
    <td>14：00-16:00</td>
    <td>奚老师</td>
    <td>1700元</td>
</tr>
<tr>
    <td>四年级新概念1</td>
    <td>17次</td>
    <td>每周五</td>
    <td>16:30-18：30</td>
    <td>奚老师</td>
    <td>1700元</td>
</tr>
<tr>
    <td>四年级新概念1</td>
    <td>17次</td>
    <td>每周六</td>
    <td>8:30-10:30</td>
    <td>奚老师</td>
    <td>1700元</td>
</tr>
<tr>
    <td>四年级新概念2</td>
    <td>17次</td>
    <td>每周日</td>
    <td>18:00-20:00</td>
    <td>Crystal</td>
    <td>1700元</td>
</tr>
<tr>
    <td>五年级新概念2</td>
    <td>17次</td>
    <td>每周五</td>
    <td>16:00-18：00</td>
    <td>Crystal</td>
    <td>1700元</td>
</tr>
<tr>
    <td>六年级新概念2</td>
    <td>17次</td>
    <td>周六</td>
    <td>10：30—12：30</td>
    <td>Crystal</td>
    <td>1700元</td>
</tr>
<tr><td></td></tr>
<tr>
    <td rowspan="3">四年级数学</td>
    <td>17次</td>
    <td>每周日</td>
    <td>15:30-17:30</td>
    <td>石老师</td>
    <td>1700元</td>
</tr>
<tr>
    <td>五年级数学</td>
    <td>17次</td>
    <td>每周日</td>
    <td>8:30-10:30</td>
    <td>石老师</td>
    <td>1700元</td>
</tr>
<tr>
    <td>六年级基础班</td>
    <td>17次</td>
    <td>每周日</td>
    <td>13：00—15：00</td>
    <td>石老师</td>
    <td>1700元</td>
</tr>
<tr>

    <td>五年级奥数班</td>
    <td>18次</td>
    <td>每周三</td>
    <td>18：00—20：00</td>
    <td>吴老师</td>
    <td>2160元</td>
</tr>
<tr><td></td></tr>

<tr>
    <td>七年级英语</td>
    <td>17次</td>
    <td>每周五</td>
    <td>18:30-20:30</td>
    <td>钱老师</td>
    <td>1700元</td>
</tr>
<tr>
    <td>八年级英语</td>
    <td>17次</td>
    <td>每周六</td>
    <td>13：00—15：00</td>
    <td>王老师</td>
    <td>1700元</td>
</tr>
<tr>
    <td>九年级英语</td>
    <td>17次</td>
    <td>每周日</td>
    <td>8：30—10：30</td>
    <td>Crystal</td>
    <td>2040元</td>
</tr>
<tr>
    <td>高一英语</td>
    <td>17次</td>
    <td>每周六</td>
    <td>15:30-17:30</td>
    <td>Crystal</td>
    <td>2040元</td>
</tr>
<tr>
    <td>高二英语提高班</td>
    <td>17次</td>
    <td>每周六</td>
    <td>15:30-17:30</td>
    <td>Crystal</td>
    <td>2040元</td>
</tr>
<tr>
    <td>高二英语特优班</td>
    <td>17次</td>
    <td>每周六</td>
    <td>13:00—15:00</td>
    <td>Crystal</td>
    <td>2040元</td>
</tr>
<tr>
    <td>高三英语</td>
    <td>17次</td>
    <td>每周六</td>
    <td>18:00-20:00</td>
    <td>钱老师</td>
    <td>2040元</td>
</tr>
<tr><td></td></tr>
<tr>
    <td>六年级数学</td>
    <td>17次</td>
    <td>每周六</td>
    <td>13：00—15：00</td>
    <td>房老师</td>
    <td>1700元</td>
</tr>
<tr>
    <td>七年级物理</td>
    <td>17次</td>
    <td>每周六</td>
    <td>15：30—17：30</td>
    <td>物理</td>
    <td>1700元</td>
</tr>
<tr>
    <td>七年级数学</td>
    <td>17次</td>
    <td>每周日</td>
    <td>10：30—12：30</td>
    <td>石老师</td>
    <td>1700元</td>
</tr>
<tr>
    <td>八年级数学</td>
    <td>17次</td>
    <td>每周日</td>
    <td>13：00—15：00</td>
    <td>石老师</td>
    <td>1700元</td>
</tr>
<tr>

    <td>八年级物理</td>
    <td>17次</td>
    <td>每周六</td>
    <td>13：00—15：00</td>
    <td>吴老师</td>
    <td>1700元</td>
</tr>
<tr>
    <td>九年级数学</td>
    <td>17次</td>
    <td>每周日</td>
    <td>10：30—12：30</td>
    <td>石老师</td>
    <td>2040元</td>
</tr>
<tr>
    <td>九年级物理</td>
    <td>17次</td>
    <td>每周六</td>
    <td>10：30—12：30</td>
    <td>吴老师</td>
    <td>2040元</td>
</tr>
<tr>
    <td>九年级化学</td>
    <td>17次</td>
    <td>每周日</td>
    <td>15：30—17：30</td>
    <td>吴老师</td>
    <td>2040元</td>
</tr>
<tr>
    <td>高一数学</td>
    <td>17次</td>
    <td>每周六</td>
    <td>8：30—10：30</td>
    <td>房老师</td>
    <td>2040元</td>
</tr>
<tr>
    <td>高一物理</td>
    <td>17次</td>
    <td>每周六</td>
    <td>8：30—10：30</td>
    <td>吴老师</td>
    <td>2040元</td>
</tr>
<tr>
    <td>高一化学</td>
    <td>17次</td>
    <td>每周六</td>
    <td>18:00—20:00</td>
    <td>吴老师</td>
    <td>2040元</td>
</tr>
<tr>
    <td>高二数学</td>
    <td>17次</td>
    <td>每周六</td>
    <td>15:30-17:30</td>
    <td>房老师</td>
    <td>2040元</td>
</tr>
<tr>
    <td>高二物理</td>
    <td>17次</td>
    <td>每周六</td>
    <td>18:00-20:00</td>
    <td>吴老师</td>
    <td>2040元</td>
</tr>
<tr>
    <td>高三数学</td>
    <td>17次</td>
    <td>每周五</td>
    <td>18:30-20:30</td>
    <td>房老师</td>
    <td>2040元</td>
</tr>
</table>
</div>
</div>
</div>
<% include includes/footer.ejs %>
</body>
</html>