<!doctype html>
<html lang="zh_cn">
<% include includes/head.ejs %>
<body>
<% include includes/header.ejs %>
<div id="content">
<div class="main-content wrapper">
<div class="inner">
<h3>2014秋季班课程安排</h3>
<table class="table table-bordered" align="center">
<colgroup>

    <col width="20%">
    <col width="7%">
    <col width="18%">
    <col width="20%">
    <col width="12%">
    <col width="10%">
</colgroup>
<tr>

    <td align="center">年级/班次</td>
    <td align="center">次数</td>
    <td align="center">时间</td>
    <td align="center">具体时间</td>
    <td align="center">任课老师</td>
    <td align="center">费用</td>
</tr>
<tr>

    <td align="center">一年级phonics</td>
    <td align="center">17次</td>
    <td align="center">每周日</td>
    <td align="center">15:30-17:30</td>
    <td align="center">Crystal</td>
    <td align="center">1700元</td>
</tr>
<tr>
    <td align="center">二年级新概念1</td>
    <td align="center">17次</td>
    <td align="center">每周日</td>
    <td align="center">15:30-17:30</td>
    <td align="center">奚老师</td>
    <td align="center">1700元</td>
</tr>
<tr>
    <td align="center">三年级SBS 1</td>
    <td align="center">17次</td>
    <td align="center">每周日</td>
    <td align="center">13:00-15:00</td>
    <td align="center">奚老师</td>
    <td align="center">1700元</td>
</tr>
<tr>
    <td align="center">四年级新概念1</td>
    <td align="center">17次</td>
    <td align="center">每周五</td>
    <td align="center">14：00-16:00</td>
    <td align="center">奚老师</td>
    <td align="center">1700元</td>
</tr>
<tr>
    <td align="center">四年级新概念1</td>
    <td align="center">17次</td>
    <td align="center">每周五</td>
    <td align="center">16:30-18：30</td>
    <td align="center">奚老师</td>
    <td align="center">1700元</td>
</tr>
<tr>
    <td align="center">四年级新概念1</td>
    <td align="center">17次</td>
    <td align="center">每周六</td>
    <td align="center">8:30-10:30</td>
    <td align="center">奚老师</td>
    <td align="center">1700元</td>
</tr>
<tr>
    <td align="center">四年级新概念2</td>
    <td align="center">17次</td>
    <td align="center">每周日</td>
    <td align="center">18:00-20:00</td>
    <td align="center">Crystal</td>
    <td align="center">1700元</td>
</tr>
<tr>
    <td align="center">五年级新概念2</td>
    <td align="center">17次</td>
    <td align="center">每周五</td>
    <td align="center">16:00-18：00</td>
    <td align="center">Crystal</td>
    <td align="center">1700元</td>
</tr>
<tr>
    <td align="center">六年级新概念2</td>
    <td align="center">17次</td>
    <td align="center">周六</td>
    <td align="center">10：30—12：30</td>
    <td align="center">Crystal</td>
    <td align="center">1700元</td>
</tr>
<tr></tr>
<tr>
    <td align="center">四年级数学</td>
    <td align="center">17次</td>
    <td align="center">每周日</td>
    <td align="center">15:30-17:30</td>
    <td align="center">石老师</td>
    <td align="center">1700元</td>
</tr>
<tr>
    <td align="center">五年级数学</td>
    <td align="center">17次</td>
    <td align="center">每周日</td>
    <td align="center">8:30-10:30</td>
    <td align="center">石老师</td>
    <td align="center">1700元</td>
</tr>
<tr>
    <td align="center">六年级基础班</td>
    <td align="center">17次</td>
    <td align="center">每周日</td>
    <td align="center">13：00—15：00</td>
    <td align="center">石老师</td>
    <td align="center">1700元</td>
</tr>
<tr>

    <td align="center">五年级奥数班</td>
    <td align="center">18次</td>
    <td align="center">每周三</td>
    <td align="center">18：00—20：00</td>
    <td align="center">吴老师</td>
    <td align="center">2160元</td>
</tr>
<tr></tr>

<tr>
    <td align="center">七年级英语</td>
    <td align="center">17次</td>
    <td align="center">每周五</td>
    <td align="center">18:30-20:30</td>
    <td align="center">钱老师</td>
    <td align="center">1700元</td>
</tr>
<tr>
    <td align="center">八年级英语</td>
    <td align="center">17次</td>
    <td align="center">每周六</td>
    <td align="center">13：00—15：00</td>
    <td align="center">王老师</td>
    <td align="center">1700元</td>
</tr>
<tr>
    <td align="center">九年级英语</td>
    <td align="center">17次</td>
    <td align="center">每周日</td>
    <td align="center">8：30—10：30</td>
    <td align="center">Crystal</td>
    <td align="center">2040元</td>
</tr>
<tr>
    <td align="center">高一英语</td>
    <td align="center">17次</td>
    <td align="center">每周六</td>
    <td align="center">15:30-17:30</td>
    <td align="center">Crystal</td>
    <td align="center">2040元</td>
</tr>
<tr>
    <td align="center">高二英语提高班</td>
    <td align="center">17次</td>
    <td align="center">每周六</td>
    <td align="center">15:30-17:30</td>
    <td align="center">Crystal</td>
    <td align="center">2040元</td>
</tr>
<tr>
    <td align="center">高二英语特优班</td>
    <td align="center">17次</td>
    <td align="center">每周六</td>
    <td align="center">13:00—15:00</td>
    <td align="center">Crystal</td>
    <td align="center">2040元</td>
</tr>
<tr>
    <td align="center">高三英语</td>
    <td align="center">17次</td>
    <td align="center">每周六</td>
    <td align="center">18:00-20:00</td>
    <td align="center">钱老师</td>
    <td align="center">2040元</td>
</tr>
<tr> </tr>
<tr>
    <td align="center">六年级数学</td>
    <td align="center">17次</td>
    <td align="center">每周六</td>
    <td align="center">13：00—15：00</td>
    <td align="center">房老师</td>
    <td align="center">1700元</td>
</tr>
<tr>
    <td align="center">七年级物理</td>
    <td align="center">17次</td>
    <td align="center">每周六</td>
    <td align="center">15：30—17：30</td>
    <td align="center">物理</td>
    <td align="center">1700元</td>
</tr>
<tr>
    <td align="center">七年级数学</td>
    <td align="center">17次</td>
    <td align="center">每周日</td>
    <td align="center">10：30—12：30</td>
    <td align="center">石老师</td>
    <td align="center">1700元</td>
</tr>
<tr>
    <td align="center">八年级数学</td>
    <td align="center">17次</td>
    <td align="center">每周日</td>
    <td align="center">13：00—15：00</td>
    <td align="center">石老师</td>
    <td align="center">1700元</td>
</tr>
<tr>

    <td align="center">八年级物理</td>
    <td align="center">17次</td>
    <td align="center">每周六</td>
    <td align="center">13：00—15：00</td>
    <td align="center">吴老师</td>
    <td align="center">1700元</td>
</tr>
<tr>
    <td align="center">九年级数学</td>
    <td align="center">17次</td>
    <td align="center">每周日</td>
    <td align="center">10：30—12：30</td>
    <td align="center">石老师</td>
    <td align="center">2040元</td>
</tr>
<tr>
    <td align="center">九年级物理</td>
    <td align="center">17次</td>
    <td align="center">每周六</td>
    <td align="center">10：30—12：30</td>
    <td align="center">吴老师</td>
    <td align="center">2040元</td>
</tr>
<tr>
    <td align="center">九年级化学</td>
    <td align="center">17次</td>
    <td align="center">每周日</td>
    <td align="center">15：30—17：30</td>
    <td align="center">吴老师</td>
    <td align="center">2040元</td>
</tr>
<tr>
    <td align="center">高一数学</td>
    <td align="center">17次</td>
    <td align="center">每周六</td>
    <td align="center">8：30—10：30</td>
    <td align="center">房老师</td>
    <td align="center">2040元</td>
</tr>
<tr>
    <td align="center">高一物理</td>
    <td align="center">17次</td>
    <td align="center">每周六</td>
    <td align="center">8：30—10：30</td>
    <td align="center">吴老师</td>
    <td align="center">2040元</td>
</tr>
<tr>
    <td align="center">高一化学</td>
    <td align="center">17次</td>
    <td align="center">每周六</td>
    <td align="center">18:00—20:00</td>
    <td align="center">吴老师</td>
    <td align="center">2040元</td>
</tr>
<tr>
    <td align="center">高二数学</td>
    <td align="center">17次</td>
    <td align="center">每周六</td>
    <td align="center">15:30-17:30</td>
    <td align="center">房老师</td>
    <td align="center">2040元</td>
</tr>
<tr>
    <td align="center">高二物理</td>
    <td align="center">17次</td>
    <td align="center">每周六</td>
    <td align="center">18:00-20:00</td>
    <td align="center">吴老师</td>
    <td align="center">2040元</td>
</tr>
<tr>
    <td align="center">高三数学</td>
    <td align="center">17次</td>
    <td align="center">每周五</td>
    <td align="center">18:30-20:30</td>
    <td align="center">房老师</td>
    <td align="center">2040元</td>
</tr>
</table>
<h3>课堂实录</h3>
<div class="container" id="content">
    <div class="row">
        <% include ./includes/left %>
        <div class="span9">
            <div class="row mb20">
                <div class="span3 first">
                    <a href="/picture/0452.jpg" rel="lightbox[plants]"><img src="/picture/0452.jpg" ></a>
                </div>
                <div class="span3">
                    <a href="/picture/1306.jpg" rel="lightbox[plants]"><img src="/picture/1306.jpg" ></a>
                </div>
                <div class="span3">
                    <a href="/picture/1996.jpg" rel="lightbox[plants]"><img src="/picture/1996.jpg" ></a>
                </div>
            </div>
            <div class="row mb20">
                <div class="span3">
                    <a href="/picture/2029.jpg" rel="lightbox[plants]"><img src="/picture/2029.jpg" ></a>
                </div>
                <div class="span3">
                    <a href="/picture/2049.jpg" rel="lightbox[plants]"><img src="/picture/2049.jpg" ></a>
                </div>
                <div class="span3 last">
                    <a href="/picture/2096.jpg" rel="lightbox[plants]"><img src="/picture/2096.jpg" ></a>
                </div>
            </div>
			  <div class="row mb20">
                <div class="span3">
                    <a href="/picture/2104.jpg" rel="lightbox[plants]"><img src="/picture/2104.jpg" ></a>
                </div>
                <div class="span3">
                    <a href="/picture/2110.jpg" rel="lightbox[plants]"><img src="/picture/2110.jpg" ></a>
                </div>
                <div class="span3 last">
                    <a href="/picture/2111.jpg" rel="lightbox[plants]"><img src="/picture/2111.jpg" ></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<% include includes/footer.ejs %>
</body>
</html>