<!doctype html>
<html lang="zh_cn">
<% include includes/head.ejs %>
<body>
<% include includes/header.ejs %>
<div id="content">
<div class="main-content wrapper">
<div class="inner">
<h3>2015寒假班课程安排</h3>
<table class="table table-bordered" align="center">
<colgroup>
    <col width="10%">
    <col width="20%">
    <col width="15%">
    <col width="20%">
    <col width="22%">

   
</colgroup>
<tr>
    <td align="center">课程</td>
    <td align="center">年级/班次</td>
    <td align="center">次数</td>
    <td align="center">时间</td>
    <td align="center">具体时间</td>
    
</tr>
<tr>
    <td align="center" rowspan="16">小学</td>
    <td align="center">一年级phonics</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">8:30-10:30</td>
    
</tr>
<tr>
    <td align="center">一年级数学</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">10:30-12:30</td>
</tr>
<tr>
    <td align="center">两年级SBS</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">10:30-12:30</td>

</tr>
<tr>
    <td align="center">两年级数学</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">8:30-10:30</td>
</tr>
<tr>
    <td align="center">三年级SBS</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">15:30-17:30</td>
</tr>
<tr>
    <td align="center">三年级数学</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">13:00-15:00</td>
</tr>
<tr>
    <td align="center">四年级新概念1</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">13:00-15:00</td>

</tr>
<tr>
    <td align="center">四年级英语</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">15:30-17:30</td>

</tr>
<tr>
    <td align="center">四年级数学</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">18:00-20:00</td>
</tr>
<tr></tr>
<tr>
    <td align="center">五年级新概念2</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">13:00-15:00</td>
</tr>
<tr>
    <td align="center">五年级英语</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">8:30-10:30</td>
</tr>
<tr>
    <td align="center">五年级数学</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">10:30-12:30</td>
</tr>
<tr>

    <td align="center">六年级新概念2</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">9:30-11:30</td>

</tr>
<tr></tr>

<tr>
    <td align="center">六年级英语</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">18:00-20:00</td>

</tr>
<tr>
    <td align="center">六年级数学</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">15:30-17:30</td>
</tr>
<tr>
    <td align="center">奥数班</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">15:30-17:30</td>
</tr>
<tr>
    <td align="center" rowspan="19">初高中</td>
    <td align="center">七年级英语</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">15:30-17:30</td>

</tr>
<tr>
    <td align="center">七年级数学</td>
    <td align="center">2次</td>
    <td align="center">周三、周日</td>
    <td align="center">18:00-20:00</td>

</tr>
<tr>
    <td align="center">八年级英语</td>
    <td align="center">4次</td>
    <td align="center">周一到周六</td>
    <td align="center">13:00—15:00</td>

</tr>
<tr>
    <td align="center">八年级数学</td>
    <td align="center">4次</td>
    <td align="center">周一到周六</td>
    <td align="center">15:30-17:30</td>
</tr>
<tr> </tr>
<tr>
    <td align="center">八年级物理</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">10:30-12:30</td>

</tr>
<tr>
    <td align="center">九年级英语</td>
    <td align="center">3次</td>
    <td align="center">周一到周六</td>
    <td align="center">18:00-20:00</td>

</tr>
<tr>
    <td align="center">九年级数学</td>
    <td align="center">5次</td>
    <td align="center">周一到周六</td>
    <td align="center">10：30—12：30</td>
</tr>
<tr>
    <td align="center">九年级物理</td>
    <td align="center">5次</td>
    <td align="center">周一到周六</td>
    <td align="center">8:30-10:30</td>

</tr>
<tr>

    <td align="center">九年级化学</td>
    <td align="center">6次</td>
    <td align="center">周一到周六</td>
    <td align="center">13：00—15：00</td>

</tr>
<tr>
    <td align="center">高一英语</td>
    <td align="center">2次</td>
    <td align="center">周二、周四</td>
    <td align="center">10：30—12：30</td>
</tr>
<tr>
    <td align="center">高一数学</td>
    <td align="center">4次</td>
    <td align="center">周一到周六</td>
    <td align="center">13:00-15:00</td>

</tr>
<tr>
    <td align="center">高一物理</td>
    <td align="center">4次</td>
    <td align="center">周一到周六</td>
    <td align="center">15：30—17：30</td>
</tr>
<tr>
    <td align="center">高一化学</td>
    <td align="center">4次</td>
    <td align="center">周一到周六</td>
    <td align="center">18:00-20:00</td>

</tr>
<tr>
    <td align="center">高二英语</td>
    <td align="center">5次</td>
    <td align="center">周一到周五</td>
    <td align="center">18:00-20:00</td>

</tr>
<tr>
    <td align="center">高二数学</td>
    <td align="center">5次</td>
    <td align="center">周一到周五</td>
    <td align="center">10:30-12:30</td>

</tr>
<tr>
    <td align="center">高二物理</td>
    <td align="center">5次</td>
    <td align="center">周一到周五</td>
    <td align="center">13:00-15:00</td>

</tr>
<tr>
    <td align="center">高二化学</td>
    <td align="center">5次</td>
    <td align="center">周一到周五</td>
    <td align="center">15:30-17:30</td>
</tr>
<tr>
    <td align="center">高三英语</td>
    <td align="center">4次</td>
    <td align="center">周一到周六</td>
    <td align="center">18:00-20:00</td>

</tr>
<tr>
    <td align="center">高三数学</td>
    <td align="center">4次</td>
    <td align="center">周一到周六</td>
    <td align="center">14:00-17:00</td>
</tr>
</table>
</div>
</div>
</div>
<% include includes/footer.ejs %>
</body>
</html>