<!doctype html>
<html lang="zh_cn">
<% include includes/head.ejs %>
<body>
<% include includes/header.ejs %>
<div id="content">
<div class="main-content wrapper">
<div class="inner">
<div class="scroll">
    <h4>学员的成功 我们的成功</h4>
</div>
<h6 class="h-b">每一位学员的进步才是西象的成功。经过全体师生的不懈努力，2015年我们取得更加辉煌的成绩</h6>
<h4 class="h4-title">优秀学员感言</h4>

<div class="student">
    <img src="/images/xixiang-student/qin.jpg" class="student-picture"/>

    <div class="student-content">
        <h5 class="blue">秦天怡</h5>


        <p class="student-zl">刚上初三的我对学习已经做好了很全面的计划，化学满分是60分，很多同学都会忽视，我也不例外，
            第一次月考只有30多分我很着急，而且我的学习补课计划里没有化学，我的化学就学得一知半解、似懂非懂，
            于是我走进了“西象教育”这一大家庭。我的化学老师，上课诙谐幽默，耐心讲解我的薄弱环节，渐渐的我的化学基础知识得到了巩固，
            成绩也稳步提高，最终，我的中考化学得分从38分到接近满分，中考成绩达到580.5的好成绩，对于中考，我的心得是中考每一门科目都很重要，
            我们不能轻视，因为我们的不知道我们的潜力是无限的，只要努力，只要跟着老师的要求学习，提高成绩不是神话。非常感谢老师以及“西象教育”，
            正是因为有他们的栽培与关心，我才能有机会考上理想的学校。
        </p>
    </div>
</div>
<div class="student">
    <img src="/images/xixiang-student/xi.jpg" class="student-picture"/>

    <div class="student-content">
        <h5 class="blue">奚文谦</h5>


        <p class="student-zl">
            我刚来西象的时候，刚刚是预备，那个时候成绩平平，妈妈希望我能有进一步的提高，所以来到西象教育，
            那个时候的我，有点青涩，有点不自信，时间飞逝，现在初中毕业了，
            我的成绩从70多分到现在的140，从1米6到现在的1米75，从不喜欢英语到现在成为英语学霸，
            从二模的486分到现在560，感谢西象教育的所有老师在我最后冲刺的阶段给我的鼓励，帮助，及心理辅导，
            课上时常恢谐幽默，帮我们解压，中考在我们的人生中可能就是一次普通的考试，但是却是国内教育的第一个分水岭，
            我为之付出的9年的第一个里程碑，我终于考上了我理想的学校，在高中的三年我还会继续努力，三年后的我一定还会考上理想的学府了。
            千言万语汇成一句话，感谢西象！
        </p>
    </div>
</div>
<div class="student">
    <img src="/images/xixiang-student/yu.jpg" class="student-picture"/>

    <div class="student-content">
        <h5 class="blue">于秋佳</h5>


        <p class="student-zl">
            一开始，想到补课就让我觉得头大。可真正补课时却不是如此，课堂上有许多乐趣，
            还有了新的同学、新的老师。补习班的老师总把知识点讲的很细致。尽他们的努力让每个同学都听懂。
            在我们对中考紧张和没有信心时，老师给予了我们很多的鼓励，让我们放松、相信自己。现在中考结束了，
            成绩也出来了，我的感觉是:保持好的心态、跟着感觉走就可以了。不用做太多的题目，在初三就应该好好的放松
            ，尽管玩，困了就睡，别熬夜，别那么拼命，轻轻松松、开开心心的才是最好，不能在乎太多。中考没想象中的那么可怕，不过前提是基础要说的过去。在考试时，
            如果你感觉对了，就会比平常超长发挥的，成绩也自然不会差到哪里去。切记:一定要有好的心态，跟着感觉走就对了。
        </p>
    </div>
</div>
<div class="student">
    <img src="/images/xixiang-student/chen.jpg" class="student-picture"/>

    <div class="student-content">
        <h5 class="blue">陈 蕾</h5>


        <p class="student-zl">
            在没有来西象教育补课之前，我的学习成绩很差，
            曾经还有过年级倒数几十名的时候。但是来到这里以后，
            所有的老师都很认真负责，把我的成绩提高了许多，
            就连我最弱的数学也能在中考时顺利发挥！在我二模没考好，心情低落时，
            是老师屡次耐心地找我谈话，其实中考前我们的心理压力都很大，毕竟这是我们人生中的第一个转折点，
            老师看出我的焦虑之后，多次对我进行心理辅导，提出我的问题并且帮助我加以改正。
            中考的分数是我意想不到的，也是模拟考中最高的一次分数，
            所以我想说心态决定命运，态度决定结果。借此我感谢西象教育的所有老师，谢谢你们的耐心教导，才能让我考上理想的学校！
        </p>
    </div>
</div>
<div class="student">
    <img src="/images/xixiang-student/huang.jpg" class="student-picture"/>

    <div class="student-content">
        <h5 class="blue">黄慧琳</h5>


        <p class="student-zl">
            很感谢西象教育，这一年的陪伴是我的成绩有很大的进步。还记得以前那个成绩很差的小女孩正在一点点的蜕变和进步。
            也许是因为初三的压力较大，在最后期间，情绪很反复。我已快放弃，准备好进入职校的准备。但老师的一次次鼓励和开导，
            使我重拾信心。我的英语是最烂的，平时也就大概100多分，中考中考了130多，我很高兴，也很感谢陈老师的细心教导。
            老师在我想放弃时一次又一次的鼓励。在我的学习生涯中担任开导师的角色，让我在困难中跌倒后又爬起来。
            我很感谢西象教育的每一位老师，也很感谢这一年来他们付出的辛劳汗水。取得的成绩中夹杂着老师们的汗水，
            中考前夕，那种感觉不知是不是叫焦虑，各科的老师上课总是能一针见血，找到我的问题，感谢西象，教我学会提高逆商，谢谢老师，让我进入理想的学校。
        </p>
    </div>
</div>

<div class="student">
    <img src="/images/xixiang-student/le.jpg" class="student-picture"/>

    <div class="student-content">
        <h5 class="blue">顾涵乐</h5>
        <p class="student-zl">时间过得真快,一转眼我就要毕业了,在西象学习新概念也要将近2年.在2年的学习过程中,西象教授新概念的陈老师使我受益匪浅.新概念的单词多,语法多,刚开始接触我很不喜欢它,既没有外教课生动活泼,又没有课堂内容浅显易懂,但是通过一个阶段的磨合,让我发现新概念不仅巩固了课堂知识,而且又提升了我的英语总体水平.在这次择校考试中派上了大用场.我报考了协和国际部,在笔试阶段,很多的语法,单词都在新概念的学习中接触过,全英文面试时,新概念大量的词汇让我顺利通过,被协和国际部入取了.在接下去的学习过程中,我还会继续努力,在西象把我的英语学习进行到底.
        </p>
    </div>
</div>

<div class="student">
    <img src="/images/xixiang-student/gu.jpg" class="student-picture"/>

    <div class="student-content">
        <h5 class="blue">顾沛怡</h5>
        <p class="student-zl">从四年级开始我就来到西象教育，我一开始感到非常地紧张。但后来在陈老师的教育下我变得自信了起来。我发现英语在老师的课上变得很有趣，我的词汇量变多了，学习成绩更好了，我喜欢陈老师的课。
        </p>
    </div>
</div>

<div class="student">
    <img src="/images/xixiang-student/xiong.jpg" class="student-picture"/>

    <div class="student-content">
        <h5 class="blue">熊晨晔</h5>
        <p class="student-zl">时光飞逝，一眨眼功夫，我即将跨出小学校门啦!我从懵懵懂懂的二年级开始就进入西象教育，在这里，我小学后四年的大部分时间都是西象教育的陈老师及其他老师陪我走过，回想，当时我还像个没断奶的孩子，紧紧贴着妈妈，就活脱脱是妈妈的小跟屁虫。第一次上陈老师的新概念时完全不适应，上课也要拖住妈妈，是陈老师像妈妈一样循循教导我一步一步学会独立上课，独立思考。从简单的英语单词到现在复杂的语法，从自然拼读法到时态到从句，教学方式生动易懂，因人施教，让我在西象教育的学习轻松，愉快，感觉学习就是一件特快乐的事情。我的学习成绩也从班级的后三名一跃成为班级的优等生，每次考试都在班级的前三名。马上要进入初中了，我会更加努力学习，记住陈老师教我的学习态度和学习方法，陈老师，谢谢您！我要继续跟着您学I believe my English will be better!
        </p>
    </div>
</div>
<div class="student">
    <img src="/images/xixiang-student/ying.jpg" class="student-picture"/>

    <div class="student-content">
        <h5 class="blue">尹仝俣</h5>
        <p class="student-zl">我在西象学习快一年了，我喜欢西象的教学环境，喜欢西象轻松活泼的教学方式，更喜欢和蔼可亲、耐心细心的西象老师。通过在西象一年的学习，使我的学习成绩稳中有升，并顺利升入了我向往已久的建平实验中学，实现了我人生梦想的第一步。
        </p>
    </div>
</div>
<h4 class="h4-title">国家级比赛获奖学员</h4>
<div class="reward">
    <div class="row">
        <div class="col-lg-4">
            <img src="/images/xixiang-student/s_1.jpg" alt=""/>
            <img src="/images/xixiang-student/r_1.jpg" alt=""/>

            <p>熊晨晔</p>

            <p>希望杯全国数学邀请赛中成绩优秀</p>

            <p>获得四年级三等奖</p>
        </div>
        <div class="col-lg-4">
            <img src="/images/xixiang-student/s_2.jpg" alt=""/>
            <img src="/images/xixiang-student/r_2.jpg" alt=""/>
            <p>张雅晴</p>

            <p>春蕾杯小学生英语邀请赛中成绩优秀</p>

            <p>荣获三年级组二等奖</p>
        </div>
        <div class="col-lg-4">
            <img src="/images/xixiang-student/s_3.jpg" alt=""/>
            <img src="/images/xixiang-student/r_3.jpg" alt=""/>
            <p>沈佳漪</p>

            <p>春蕾杯邀请赛中</p>

            <p>荣获三年级组英语学科优秀奖</p>
        </div>
    </div>
</div>
<h4 class="h4-title">2015上学期期末部分进步学员</h4>

<div class="imporve-student">
<div class="imporve-student-left">
<img src="/images/xixiang-student/improve.png" class="medal"/>
<table class="table">
<tbody>
<tr>
    <td>姓名</td>
    <td>年级</td>
    <td>学校</td>
    <td>期中分数</td>
    <td>提高科目</td>
    <td>期末分数</td>
</tr>
<tr>
    <td>王睿轩</td>
    <td>九年级</td>
    <td></td>
    <td>69.5</td>
    <td>英语</td>
    <td>90.5</td>
</tr>
<tr>
    <td>石家齐</td>
    <td>九年级</td>
    <td>洋泾东校</td>
    <td>56</td>
    <td>英语</td>
    <td>77</td>
</tr>
<tr>
    <td>庞琳</td>
    <td>九年级</td>
    <td>东昌南校</td>
    <td>73</td>
    <td>数学</td>
    <td>92</td>
</tr>
<tr>
    <td>张磊</td>
    <td>九年级</td>
    <td>长岛中学</td>
    <td>92</td>
    <td>数学</td>
    <td>109</td>
</tr>
<tr>
    <td>郑周</td>
    <td>九年级</td>
    <td>洋泾南校</td>
    <td>63</td>
    <td>数学</td>
    <td>89</td>
</tr>
<tr>
    <td>黄慧琳</td>
    <td>九年级</td>
    <td>塘桥中学</td>
    <td>108</td>
    <td>英语</td>
    <td>131</td>
</tr>
<tr>
    <td>王佳怡</td>
    <td>五年级</td>
    <td>东方小学</td>
    <td>65</td>
    <td>数学</td>
    <td>87</td>
</tr>
<tr>
    <td>何国栋</td>
    <td>四年级</td>
    <td>浦东南路小学</td>
    <td>77</td>
    <td>数学</td>
    <td>98</td>
</tr>
<tr>
    <td>奚文谦</td>
    <td>九年级</td>
    <td>华洋外国语中学</td>
    <td>124.5</td>
    <td>英语</td>
    <td>140</td>
</tr>
<tr>
    <td>黄慧琳</td>
    <td>九年级</td>
    <td>塘桥中学</td>
    <td>117</td>
    <td>数学</td>
    <td>131</td>
</tr>
<tr>
    <td>徐睿琪</td>
    <td>五年级</td>
    <td>浦东南路小学</td>
    <td>86</td>
    <td>英语</td>
    <td>99.5</td>
</tr>
<tr>
    <td>梁雅雯</td>
    <td>二年级</td>
    <td>浦东南路小学</td>
    <td>80</td>
    <td>英语</td>
    <td>91</td>
</tr>
<tr>
    <td>高佳文</td>
    <td>八年级</td>
    <td>浦兴中学</td>
    <td>85</td>
    <td>物理</td>
    <td>96</td>
</tr>
<tr>
    <td>计可权</td>
    <td>四年级</td>
    <td>浦东南路小学</td>
    <td>64</td>
    <td>英语</td>
    <td>74.5</td>
</tr>
<tr>
    <td>王睿轩</td>
    <td>五年级</td>
    <td>明珠小学</td>
    <td>88</td>
    <td>英语</td>
    <td>98</td>
</tr>
<tr>
    <td>王梦菲</td>
    <td>高二</td>
    <td>市八中学</td>
    <td>60</td>
    <td>数学</td>
    <td>69</td>
</tr>
<tr>
    <td>李静远</td>
    <td>九年级</td>
    <td>洋泾南校</td>
    <td>46</td>
    <td>化学</td>
    <td>55</td>
</tr>
<tr>
    <td>沈子骏</td>
    <td>五年级</td>
    <td>洋泾菊园</td>
    <td>83</td>
    <td>英语</td>
    <td>91</td>
</tr>
<tr>
    <td>熊晨晔</td>
    <td>三年级</td>
    <td>由由小学</td>
    <td>90</td>
    <td>数学</td>
    <td>98</td>
</tr>
<tr>
    <td>秦天怡</td>
    <td>九年级</td>
    <td>洋泾南校</td>
    <td>77</td>
    <td>物理</td>
    <td>85</td>
</tr>
<tr>
    <td>陈蕾</td>
    <td>九年级</td>
    <td>东昌南校</td>
    <td>63</td>
    <td>物理</td>
    <td>71</td>
</tr>
<tr>
    <td>陶文蔚</td>
    <td>五年级</td>
    <td>明珠小学</td>
    <td>87.5</td>
    <td>英语</td>
    <td>94.5</td>
</tr>
<tr>
    <td>倪婕</td>
    <td>高一</td>
    <td>洋泾东校</td>
    <td>59</td>
    <td>物理</td>
    <td>66</td>
</tr>
<tr>
    <td>钱珉</td>
    <td>五年级</td>
    <td>明珠小学</td>
    <td>86</td>
    <td>英语</td>
    <td>92.5</td>
</tr>
<tr>
    <td>应超</td>
    <td>五年级</td>
    <td>明珠小学</td>
    <td>88</td>
    <td>英语</td>
    <td>94</td>
</tr>
</tbody>
</table>
</div>
<div class="imporve-student-right">
<img src="/images/xixiang-student/improve.png" class="medal"/>
<table class="table">
<tbody>
<tr>
    <td>姓名</td>
    <td>年级</td>
    <td>学校</td>
    <td>期中分数</td>
    <td>提高科目</td>
    <td>期末分数</td>
</tr>
<tr>
    <td>沈丽晨</td>
    <td>六年级</td>
    <td>洋泾南校</td>
    <td>67</td>
    <td>数学</td>
    <td>73</td>
</tr>
<tr>
    <td>潘诗艺</td>
    <td>三年级</td>
    <td>临沂2村小学</td>
    <td>93</td>
    <td>英语</td>
    <td>98.5</td>
</tr>
<tr>
    <td>娄亦雪</td>
    <td>三年级</td>
    <td>浦东南路小学</td>
    <td>93</td>
    <td>英语</td>
    <td>98</td>
</tr>
<tr>
    <td>沈俊翔</td>
    <td>七年级</td>
    <td>塘桥中学</td>
    <td>80</td>
    <td>英语</td>
    <td>85</td>
</tr>
<tr>
    <td>马思艳</td>
    <td>高二</td>
    <td>市八中学</td>
    <td>69</td>
    <td>英语</td>
    <td>74</td>
</tr>
<tr>
    <td>宣萱</td>
    <td>八年级</td>
    <td>浦兴中学</td>
    <td>83</td>
    <td>英语</td>
    <td>88</td>
</tr>
<tr>
    <td>朱墨清</td>
    <td>三年级</td>
    <td>东方小学</td>
    <td>95</td>
    <td>英语</td>
    <td>99.5</td>
</tr>
<tr>
    <td>熊晨晔</td>
    <td>三年级</td>
    <td>由由小学</td>
    <td>92</td>
    <td>英语</td>
    <td>96</td>
</tr>
<tr>
    <td>倪婕</td>
    <td>高一</td>
    <td>洋泾东校</td>
    <td>69</td>
    <td>英语</td>
    <td>73</td>
</tr>
<tr>
    <td>高佳文</td>
    <td>八年级</td>
    <td>浦兴中学</td>
    <td>86</td>
    <td>英语</td>
    <td>90</td>
</tr>
<tr>
    <td>陈柳茜</td>
    <td>五年级</td>
    <td>唐一小学</td>
    <td>96</td>
    <td>英语</td>
    <td>99.5</td>
</tr>
<tr>
    <td>沈佳漪</td>
    <td>三年级</td>
    <td>南码头路小学</td>
    <td>96</td>
    <td>英语</td>
    <td>99.5</td>
</tr>
<tr>
    <td>庞思欣</td>
    <td>二年级</td>
    <td>浦东南路小学</td>
    <td>95</td>
    <td>英语</td>
    <td>98</td>
</tr>
<tr>
    <td>王澳柯</td>
    <td>二年级</td>
    <td>浦东南路小学</td>
    <td>84</td>
    <td>英语</td>
    <td>87</td>
</tr>
<tr>
    <td>刘晓璇</td>
    <td>七年级</td>
    <td>进才北校</td>
    <td>88</td>
    <td>英语</td>
    <td>91</td>
</tr>
<tr>
    <td>宣萱</td>
    <td>八年级</td>
    <td>浦兴中学</td>
    <td>89</td>
    <td>物理</td>
    <td>92</td>
</tr>
<tr>
    <td>沈丽晨</td>
    <td>六年级</td>
    <td>洋泾南校</td>
    <td>77</td>
    <td>英语</td>
    <td>79.5</td>
</tr>
<tr>
    <td>张屹楠</td>
    <td>三年级</td>
    <td>浦东南路小学</td>
    <td>93</td>
    <td>英语</td>
    <td>95</td>
</tr>
<tr>
    <td>徐慧玉</td>
    <td>七年级</td>
    <td>东昌南校</td>
    <td>89</td>
    <td>英语</td>
    <td>91</td>
</tr>
<tr>
    <td>李芯怡</td>
    <td>高一</td>
    <td>浦东实验</td>
    <td>48</td>
    <td>数学</td>
    <td>50</td>
</tr>
<tr>
    <td>王梦菲</td>
    <td>高二</td>
    <td>市八中学</td>
    <td>67</td>
    <td>英语</td>
    <td>69</td>
</tr>
<tr>
    <td>黄厚钧</td>
    <td>八年级</td>
    <td>建平西校</td>
    <td>82</td>
    <td>物理</td>
    <td>84</td>
</tr>
<tr>
    <td>李静远</td>
    <td>九年级</td>
    <td>洋泾南校</td>
    <td>73</td>
    <td>物理</td>
    <td>75</td>
</tr>
<tr>
    <td>虞悦</td>
    <td>七年级</td>
    <td>卢湾中学</td>
    <td>89</td>
    <td>英语</td>
    <td>90</td>
</tr>
<tr>
    <td>游依帆</td>
    <td>八年级</td>
    <td>陆行北校</td>
    <td>86</td>
    <td>数学</td>
    <td>87</td>
</tr>
<tr>
    <td>蓝洁怡</td>
    <td>二年级</td>
    <td>浦东南路小学</td>
    <td>100</td>
    <td>英语</td>
    <td>100</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>

</div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
