<!doctype html>
<html lang="zh_cn">
<% include includes/head.ejs %>
<body>
<% include includes/header.ejs %>
<div id="content">
    <div class="main-content wrapper">
        <div class="inner">
            <div class="scroll">
                <h4>在职一线教师团队，信心之选</h4>
            </div>
            <div class="content-bottom">
                <p class="content-bottom-left">
                    西象教育，经过七年多沉淀和积累，通过严格的培训和管理，拥有了一只最资深的在职老师的优秀教师队伍，所聘老师教龄长久，经验丰富，周周组织教研讨论，紧密结合大纲考点，使学生在最短时间内提高成绩，赢得了广大家长的好口碑。</p>

                <div class="content-bottom-right">
                    <p class="content-bottom-right-block" style="background:#575757;">
                        <span class="big">严</span><span class="word-distance">把师资</span>100个面试老师，我们只录用5%
                    </p>

                    <p class="content-bottom-right-block" style="background:#d94c5a;">
                        <span class="big">严</span><span class="word-distance">格考核</span>每年20%的老师考核不及格而被淘汰
                    </p>

                    <p class="content-bottom-right-block" style="background:#80cbc9;">
                        <span class="big">严</span><span class="word-distance">格考评</span>每周我们会100%检查教案，改进教学
                    </p>
                </div>
            </div>
            <h4 class="deep">部分教师简介</h4>

            <div class="teacher-introduce">
                <div class="portrait-women">
                    <h6 class="name">陈老师</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">年级：高中</span>科目：英语</p>

                    <p class="introduce">
                        现任高中英语老师，同时拥有大量的中小学课外辅导的教学经验。英语学科带头人，培养的学生中许多已升至区重点、市重点学校。她无论对自己还是对学生要求非常严格，因为她深刻明白家长找一个机构真正想要的是进步，所以一直以学生成绩说话，保持了西象教育每年95%的提分率。
                    </p>
                </div>
            </div>

            <div class="teacher-introduce">
                <div class="portrait-man">
                    <h6 class="name">王老师</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">年级：初中</span>科目：英语</p>

                    <p class="introduce">
                        市重点中学英语教师，参与多项区级教学研究课题，对于中学教学的走势把握清楚，能给学生中学英语的学习带去最新动向。擅长从学生的个性特点出发，针对学生的特点查漏补缺，既能对学生的成绩有所提高，又能让学生领悟学习的重要性。同时强调学生从课本出发，面对考试。总能让学生在轻松的心态中获得知识。
                    </p>
                </div>
            </div>

            <div class="teacher-introduce">
                <div class="portrait-women">
                    <h6 class="name">奚老师</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">年级：小学</span>科目：英语</p>

                    <p class="introduce">
                        上海师范大学，小学教育专业，上海市小学英语教师。在长期的工作实践中总结了一套适合与小学生的学习方法。英语功底扎实，授课思路清晰，小班带班经验丰富。擅长于将知识趣味化，追求在融洽相处的氛围中教授于学生知识，并培养学生的学习兴趣。奚老师一直都坚信，没有教不会的学生，只有不会教的老师。
                    </p>
                </div>
            </div>


            <div class="teacher-introduce">
                <div class="portrait-man">
                    <h6 class="name">栗老师</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">年级：高中</span>科目：数学</p>

                    <p class="introduce">
                        现任高中数学老师，长期从事高中课外辅导。辅导学生超过2400人。能够准确把握高考动向，深入研究应试教育，对高考速成学习法有心得。尤其擅长辅导特差程度学生，有能力转变部分学生学习态度。大部分学员成绩有不同程度的提高。单独辅导的学员试听满意率接近100%
                    </p>
                </div>
            </div>


            <div class="teacher-introduce">
                <div class="portrait-women">
                    <h6 class="name">石老师</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">年级：初中</span>科目：数学</p>

                    <p class="introduce">
                        对中小学教材非常熟悉，擅长教授学生解题思路，让其学会自主分析，使得学生自己提高解题能力。对于学习基础差的学生有一套独特提高成绩的方法。传道、授业、解惑、教书、育人是我的教学遵旨，我相信，教育因执著而精彩！
                    </p>
                </div>
            </div>
			
			   <div class="teacher-introduce">
                <div class="portrait-man">
                    <h6 class="name">方老师</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">年级：小学</span>科目：数学</p>

                    <p class="introduce">
                        西象教育小学数学老师。合肥师范学院物理与电子专业，拥有丰富的中小学辅导机构工作经验,对数学初中和小学考纲和知识点有着清晰的把握和理解。
                    </p>
                </div>
            </div>

   
            <div class="teacher-introduce">
                <div class="portrait-women">
                    <h6 class="name">佳佳老师</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">晚托班</span></p>

                    <p class="introduce">
                        西象教育优秀教师，有丰富的教学经验和班主任管理经验，对待教学工作认真严谨，对待每个学生耐心负责。讲课思路条理清晰，寓教于乐，课堂生动活泼，善于结合生活实例，以便激发孩子们的想象力和创造力，有利于孩子思维的发展。熟悉了解低年龄段孩子的心理，乐于与学生沟通交流，从而帮助学生取得更大进步！
                    </p>
                </div>
            </div>
			
			<div class="teacher-introduce">
                <div class="portrait-women">
                    <h6 class="name">Tracy</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">英语老师</span></p>

                    <p class="introduce">
                        澳洲多年留学、工作经历，具备多年中小学课外辅导经验，擅长分析学生英语知识弱项，针对每个学生的学习习惯制定学习策略和应试技巧。注重英语的实用性和口语训练，培养学生的英语思维模式，使学生学习英语学有所用。
                    </p>
                </div>
            </div>
			
			<div class="teacher-introduce">
                <div class="portrait-man">
                    <h6 class="name">罗老师</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">初高中物理、数学</span></p>

                    <p class="introduce">
                        高中时数学、物理竞赛保送进入同济大学。毕业后一直从事高中数理化的研究教学工作，总结了一整套教学方法，能够结合学生的实际情况制订个性化教学方案。擅长帮助学生进行知识的融会贯通，解决压轴题，主张在平时学习时注意各种易错点，帮助学生决胜于考场。
                    </p>
                </div>
            </div>
			
			<div class="teacher-introduce">
                <div class="portrait-women">
                    <h6 class="name">小张老师</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">小学老师</span></p>

                    <p class="introduce">
                        东南大学毕业，研究生学历，毕业后一直从事一对一辅导的教学工作，能够迅速帮助孩子找到学习方法，激发学习乐趣，显著提高孩子学习成绩。为人谦和有耐心，做事认真负责，对每个孩子负责到底。
                    </p>
                </div>
            </div>
			
			<div class="teacher-introduce">
                <div class="portrait-man">
                    <h6 class="name">林老师</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">初中数学</span></p>

                    <p class="introduce">
                        上海师范大学，数学师范专业，现任上海市初中数学教师。在上课时擅长根据学生的特点，合理安排课程内容，激发学习兴趣，提升学习效果。对教学内容有独到见解，采取系统化教学而非按步就班，深入浅出，有耐心。使学生乐学，好学。
                    </p>
                </div>
            </div>
			
			<div class="teacher-introduce">
                <div class="portrait-women">
                    <h6 class="name">曹老师</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">西象教育优秀教师</span></p>

                    <p class="introduce">
                        对中小学教材非常熟悉，性格平易近人，善于与学生沟通，注重激发学生的学习兴趣，帮助其培养有条理的思维。兴趣，是提高学习效率最有效的途径；信心，是克服学习困难的尖锐武器，而作为老师的使命，就是帮助学生把这两个要素建立起来，为他们的进步提供坚实的台阶。
                    </p>
                </div>
            </div>
			
			<div class="teacher-introduce">
                <div class="portrait-women">
                    <h6 class="name">大张老师</h6>
                </div>
                <div class="text">
                    <p class="introduce-title"><span class="text-distance">初中数学</span></p>

                    <p class="introduce">
                        华东理工大学硕士，数学专业毕业，现任上海市初中数学教师，主讲小学奥数和初中数学。上课时，关注每个学生，能够根据学生的特点进行有效教学，对教学内容具有独特的见解，合理安排上课时间，让学生做到知识丰富但不疲劳乏味，课堂富有生动性。
                    </p>
                </div>
            </div>
			
        </div>	
    </div>
</div>
<% include includes/footer.ejs %>
</body>
</html>
