<div class="team_model_mainone model_main_border ">

    <div class="team_model_mainone_ask ">
        <p>一对一高昂的学费让你望而却步？</p>
        <p>还在为大班辅导效果不佳而烦恼？</p>
    </div>
    <h4>快来参加西象教育2-8人分层培优</h4>
    <div class="team_model_mainone_content team_model_content">
        <h5>什么是小组模式？</h5>
        <div class="duanluo duanluo1">
            <p>依据学生测试状况，按学科分为 基础、提高、特优 不同层的小组，针对性制定不同的教学目标、教学内容、教学方式和训练习题等，为每一个学生建立适合的目标，让学生在过程中即时得到肯定、得到激励，让学生不断体验成功感。</p>
        </div>
    </div>
    <img src="/images/team_model/team_model_mainone.jpg" />


</div>
<div class="team_model_maintwo model_main_border">
    <img src="/images/team_model/team_model_maintwo.jpg" />
    <div class="team_model_maintwo_content  team_model_content">
        <h5>小组模式优势</h5>
        <div class="duanluo duanluo2">
            <p>
                同学互动&nbsp;良性竞争<br>2-8人分层小组教学，同层次的学生在一起学习，每个人都有独立自觉和相互交流的机会，容易产生积极的相互促进作用。
            </p>
            <p>
                师生互动&nbsp;即时反馈<br>2-8人，教师容易发现问题，调动学生课堂的参与性。学科漏洞当堂提问，当堂解决，不遗留知识盲点。每颗都有提升，让学生体验成功。
            </p>
        </div>
    </div>
    <ul class="team_model_maintwo_pic">
        <li class="team_model_maintwo_box">
            <img src="/images/team_model/team_model_maintwo_1.jpg" />
        </li>
        <li class="team_model_maintwo_box">
            <img src="/images/team_model/team_model_maintwo_2.jpg" />
        </li>
        <li class="team_model_maintwo_box cancel_margin team_model_maintwo_box_block">
            <h5>特优组</h5>
            <p>基础30%＋加难加深拓展题70%：着重训练解题思维，会一题而通一题！同时培养拔尖学生，特别是中高考学生的学科竞赛能力与名校自主招生竞争力！</p>
        </li>
        <li class="team_model_maintwo_box team_model_maintwo_box_block">
            <h5>提高组</h5>
            <p>基础70%加难加深拓展题30%：着重训练基础题型、解题技巧、得分能力！</p>
        </li>
        <li class="team_model_maintwo_box">
            <img src="/images/team_model/team_model_maintwo_3.jpg" />
        </li>
        <li class="team_model_maintwo_box  cancel_margin">
            <img src="/images/team_model/team_model_maintwo_4.jpg" />
        </li>
        <li class="team_model_maintwo_box">
            <img src="/images/team_model/team_model_maintwo_5.jpg" />
        </li>
        <li class="team_model_maintwo_box">
            <img src="/images/team_model/team_model_maintwo_6.jpg" />
        </li>
        <li class="team_model_maintwo_box  cancel_margin team_model_maintwo_box_block">
            <h5>基础组</h5>
            <p>着重训练基础题型。深化理解基本概念。帮助学生理清思路，归纳总结，夯实基础。稳步提高血液成绩！</p>
        </li>
    </ul>
    <div class="team_model_maintwo_content_bottom">
        <ul class="team_model_maintwo_style-one">
            <li class="one">
                <h4>小班模式</h4>
                <ol>
                    <li>1、分层教学，针对辅导</li>
                    <li>2、同学互动，良性竞争</li>
                    <li>3、师生互动，及时反馈</li>
                </ol>
            </li>
            <li class="two">
                <h4>分层教学</h4>
                <ol>
                    <li>1、分层备课，针对性强</li>
                    <li>2、测试分班，因材施教</li>
                    <li>3、全程跟踪，家教沟通</li>
                </ol>
            </li>
            <li class="three">
                <h4>强大师资</h4>
                <ol>
                    <li>1、一线教师，权威指导</li>
                    <li>2、学科带头，专业教研</li>
                    <li>3、师资考评，末位淘汰</li>
                </ol>
            </li>
        </ul>

    </div>
</div>